input {
  width: 100% !important;
}

.save-button {
  margin-left: 0.7rem;
}

.example-list {
  background: white;
  border: solid 1px #ccc;
  border-radius: 4px;
  display: block;
  max-width: 100%;
  min-height: 60px;
  overflow: hidden;
  width: 500px;
}

.example-box {
  align-items: center;
  background: white;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  color: rgb(0 0 0 / 87%);
  cursor: move;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 1rem;
  padding: 20px 10px;
}

.eui-card {
  border: none;
}

:host ::ng-deep {
  .cdk-drop-list {
    z-index: 999999;
  }

  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);
    box-sizing: border-box;
    opacity: 1;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
