<eui-dropdown isDropDownRightAligned>
  <button
    euiSizeS
    [title]="'page.editor.versions.actions-button.tooltip' | translate"
    [attr.aria-label]="
      'page.editor.versions.actions-button.tooltip' | translate
    "
    [disabled]="disabled"
    style="border: none; cursor: pointer; background-color: white;"
    (click)="checkVersion()">
    <eui-icon-svg icon="eui-ellipsis-vertical" size="xs"></eui-icon-svg>
  </button>
  <eui-dropdown-content>
    <div class="eui-u-flex eui-u-flex-column eui-u-flex-align-items-start">
      <button
        euiDropdownItem
        *ngIf="isLatestRecentVersion(version) === false"
        (click)="handleCheckboxClick(version)">
        {{ 'page.editor.versions.actions.view' | translate }}

      </button>
      <button
        euiDropdownItem
        *ngIf="(canRevertVersion | async) &&  isLatestRecentVersion(version) === false"
        (click)="onVersionRevert(version.documentId, version.versionNumber)"
      >
        {{ 'page.editor.versions.actions.revert' | translate }}
      </button>
      <button euiDropdownItem (click)="doc.versionExport(version)">
        {{ 'page.editor.versions.actions.export' | translate }}
      </button>
      <button euiDropdownItem
              *ngIf="shouldArchive(version)"
              (click)="archiveVersion(version)">
        {{ 'page.editor.versions.actions.archive' | translate }}
      </button>
      <button
        euiDropdownItem
        *ngIf="isCNInstance"
        (click)="onBaseChange(version)"
      >
        {{ 'page.editor.versions.actions.changeBase' | translate }}
      </button>
      <button
        euiDropdownItem
        (click)="exploreMilestone.emit(version)"
        *ngIf="isMilestone"
      >
        {{ 'page.editor.versions.actions.explore' | translate }}
      </button>
    </div>
  </eui-dropdown-content>
</eui-dropdown>
<eui-dialog
  #versionRevertDialog
  [title]="'page.editor.versions.restore.modal-title' | translate"
  [acceptLabel]="'page.editor.versions.restore.modal-button' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancel()"
  (close)="onCancel()"
  (accept)="onAccept()"
  (dismiss)="onCancel()"
>
  <p>{{ versionModalText }}</p>
  <p>{{ 'page.editor.versions.restore.modal-text' | translate }}</p>
</eui-dialog>

<eui-dialog
  #versionArchiveDialog
  [title]="'page.editor.versions.archive.title' | translate"
  [acceptLabel]="'page.editor.versions.archive.button' | translate"
  [dismissLabel]="'global.actions.cancel' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelArchive()"
  (close)="onCancelArchive()"
  (accept)="onAcceptArchive()"
  (dismiss)="onCancelArchive()"
>
  <p>{{ archiveModalText }}</p>
  <p>{{ 'page.editor.versions.archive.text-version' | translate }}</p>
</eui-dialog>

<eui-message-box
  #versionAlreadyMessage
  [title]="'page.editor.versions.actions.block.on.archived.version' | translate"
  [dismissLabel]="'global.actions.close' | translate"
  [width]="'35vw'"
  [height]="'20vw'"
  [isDraggable]="true"
  [isClosedOnEscape]="true"
  [hasAcceptButton]="false"
  [typeClass]="'info'"
>
  <p>{{ 'page.editor.versions.actions.error.already.archive.version' | translate }}</p>
</eui-message-box>
