<div class="eui-u-display-flex eui-u-flex-column eui-u-flex-align-items-end">
  <div class="eui-u-flex eui-u-flex-row eui-u-width-20">
    <div euiInputGroup class="eui-u-mr-s">
      <div class="eui-input-group-addon">
        <div class="eui-input-group-addon-item">
          <eui-icon-svg icon="eui-search"></eui-icon-svg>
        </div>
        <eui-table-filter
          #filter
          placeholder="Search filter..."
          (filterChange)="onFilterChange($event)"
        ></eui-table-filter>
      </div>
    </div>
    <app-proposal-collaborators-dialog
      *ngIf="!translated &&
        this.detailsService.hasPermissions(['CAN_ADD_REMOVE_COLLABORATOR'])
          | async
      "
    ></app-proposal-collaborators-dialog>
  </div>
  <table
    #collaborators
    euiTable
    euiTableResponsive
    class="eui-u-width-100"
    [rows]="dataSource"
    [filter]="filter"
  >
    <ng-template euiTemplate="header">
      <tr>
        <th>{{ 'page.collection.collaborators.table.td-name' | translate }}</th>
        <th>
          {{ 'page.collection.collaborators.table.td-entity' | translate }}
        </th>
        <th>{{ 'page.collection.collaborators.table.td-role' | translate }}</th>
        <th *ngIf="!translated">
          {{ 'page.collection.collaborators.table.td-actions' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template let-row euiTemplate="body">
        <tr *ngFor="let collaboratorClass of [!row.entity?.organizationName ? 'eui-u-color-danger-25 eui-u-bg-color-danger-25' : '']">
          <td [ngClass]="collaboratorClass">{{ row.fullName }}</td>
          <td [ngClass]="collaboratorClass"
              [euiTooltip]="!row.entity?.organizationName ? ('page.collection.collaborators.table.user.entity.error.tooltip' | translate) : ''">
            {{ row.entity?.organizationName }}
          </td>
          <td [ngClass]="collaboratorClass">
            <ng-container
              *ngIf="
                isEditRole &&
                  editUserId === row.login &&
                  row.entity?.organizationName === entity;
                else tdRole
              "
            >
              <div euiInputGroup class="row">
                <div class="col-sm-10">
                  <select
                    euiSelect
                    (change)="handleOnChange($event)"
                    [selectedIndex]="getIndexByRole()"
                  >
                    <option value="OWNER">
                      {{
                        'page.collection.collaborators.role.author' | translate
                      }}
                    </option>
                    <option value="CONTRIBUTOR">
                      {{
                        'page.collection.collaborators.role.contributor'
                          | translate
                      }}
                    </option>
                    <option value="REVIEWER">
                      {{
                        'page.collection.collaborators.role.reviewer' | translate
                      }}
                    </option>
                    <option value="VIEWER">
                      {{
                        'page.collection.collaborators.role.viewer' | translate
                      }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <div class="eui-u-mr-s" (click)="exitEditMode()">
                    <eui-icon-svg
                      size="l"
                      icon="eui-ecl-close-filled"
                    ></eui-icon-svg>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #tdRole>
              <span>{{
                  'page.collection.collaborators.role.' +
                  (row.role === 'OWNER' ? 'author' : row.role.toLowerCase())
                    | translate
                }}</span>
            </ng-template>
          </td>
          <td [ngClass]="collaboratorClass" *ngIf="!translated">
            @if(this.detailsService.isInternalUser(row)) {
            <eui-dropdown *ngIf="permissions.includes('CAN_ADD_REMOVE_COLLABORATOR')"
              [euiDisabled]="
                (this.detailsService.hasPermissions([
                  'CAN_ADD_REMOVE_COLLABORATOR'
                ]) | async) === false
              "
            >
              <button
                euiButton
                euiRounded
                euiIconButton
                euiBasicButton
                euiSecondary
                [euiTooltip]="
                  'page.collection.collaborators.table.actions.more.tooltip'
                    | translate
                "
                [attr.aria-label]="
                  'page.collection.collaborators.table.actions.more.tooltip'
                    | translate
                "
              >
                <eui-icon-svg icon="eui-ellipsis-vertical"></eui-icon-svg>
              </button>
              <eui-dropdown-content>
                <button
                  euiDropdownItem
                  class="eui-u-p-s"
                  (click)="editCollaborator(row.login, row.entity, row.role)"
                  *ngIf="row.entity?.organizationName !== null"
                >
                  {{
                    'page.collection.collaborators.table.actions.edit-role'
                      | translate
                  }}
                </button>
                <button
                  euiDropdownItem
                  class="eui-u-p-s"
                  euiDanger
                  (click)="handleConfirmDeletion(row)"
                  *ngIf="dataSource.length > 1"
                >
                  {{ 'global.actions.delete' | translate }}
                </button>
              </eui-dropdown-content>
            </eui-dropdown>
            }
          </td>
        </tr>
    </ng-template>
    <ng-template euiTemplate="emptyMessage">
      <tr>
        <td class="eui-u-text-center" colspan="5">
          {{ 'page.collection.collaborators.table.no-data' | translate }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>

<app-confirm-delete-dialog
  #confirmCollabDelete
  [title]="
    'page.collection.collaborators.table.delete-dialog.title' | translate
  "
  [description]="
    'page.collection.collaborators.table.delete-dialog.desc' | translate
  "
  (confirmDeletion)="deleteCollaborator()"
></app-confirm-delete-dialog>
