<eui-wizard
        *ngIf="!fromProposal"
        (selectStep)="onSelectStepRemoteNav($event)"
        [activeStepIndex]="currentStepIndex"
        [isNavigationAllowed]="isNavigationAllowed"
>
    <eui-wizard-step
            label="Template selection"
            [isCompleted]="!!selectedTemplate"
    >
            <app-proposal-create-template-selector
                #templateSelector
                (selectTemplate)="handleSelectTemplate($event)"
                (selectLanguage)="handleSelectLanguage($event)"
                translationKey="draft"
            ></app-proposal-create-template-selector>
    </eui-wizard-step>
    <eui-wizard-step
            label="{{ 'page.workspace.create-form.draft.label' | translate }}"
            [isCompleted]="createForm.valid && isStepOneCompleted"
    >
            <app-proposal-create-form
                    [createForm]="createForm"
                    translationKey="draft"
            ></app-proposal-create-form>
    </eui-wizard-step>
</eui-wizard>
<ng-container *ngIf="fromProposal">
    <app-proposal-create-template-selector
        #templateSelector
        (selectTemplate)="handleSelectTemplate($event)"
        (selectLanguage)="handleSelectLanguage($event)"
    ></app-proposal-create-template-selector>
</ng-container>

<div class="app-dialog-footer-content">
    <button euiButton (click)="closeDialog()">
        {{ 'global.actions.cancel' | translate }}
    </button>
    <button
            *ngIf="!fromProposal"
            euiButton
            type="button"
            [disabled]="currentStepIndex === 1 || !isNavigationAllowed"
            (click)="onNavigation(-1)"
    >
        <eui-icon-svg icon="eui-chevron-back"></eui-icon-svg>
        <span euiLabel>
          {{ 'global.actions.previous' | translate }}
        </span>
    </button>
    <button
            *ngIf="!fromProposal"
            euiButton
            type="button"
            [disabled]="currentStepIndex === stepsCount || !isNavigationAllowed"
            (click)="onNavigation(+1)"
            [hidden]="showCreateHideNext()"
    >
        <span euiLabel>
          {{ 'global.actions.next' | translate }}
        </span>
        <span class="eui-icon eui-icon-chevron-right"></span>
    </button>
    <button
            [hidden]="!showCreateHideNext()"
            [disabled]="!isFormValid()"
            euiButton
            euiPrimary
            (click)="onCreate()"
    >
        {{ 'global.actions.create' | translate }}
    </button>
</div>
