<form [formGroup]="createForm">
  <p>
    {{ 'page.workspace.create-form.' + translationKey + '.title' | translate }}
  </p>

  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="templateName">{{
        'page.workspace.create-form.' + translationKey + '.document-template'
          | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <textarea
        id="templateName"
        euiTextArea
        formControlName="templateName"
        readonly
      ></textarea>
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel euiRequired for="docPurpose">{{
        'page.workspace.create-form.' + translationKey + '.document-title'
          | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <input id="docPurpose" euiInputText formControlName="docPurpose" />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="document-language">{{
        'page.workspace.create-form.' + translationKey + '.document-language'
          | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <input
        id="document-language"
        euiInputText
        formControlName="documentLanguage"
        readonly
      />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="confidentiality-level">{{
        'page.workspace.create-form.' +
          translationKey +
          '.confidentiality-level' | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <input
        id="confidentiality-level"
        euiInputText
        formControlName="confidentialityLevel"
        readonly
      />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="internalReference">{{
        'page.workspace.create-form.' + translationKey + '.internal-ref'
          | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <input
        id="internalReference"
        euiInputText
        formControlName="internalReference"
      />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="interInstitutionalReference">{{
        'page.workspace.create-form.' + translationKey + '.inter-ref'
          | translate
      }}</label>
    </div>
    <div class="col-md-9">
      <input
        id="interInstitutionalReference"
        euiInputText
        formControlName="interInstitutionalReference"
      />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="packageTitle">{{
        'page.workspace.create-form.' + translationKey + '.package-title'
          | translate
      }}</label>
    </div>
    <div class="col-md-1">
      <input
        euiInputCheckBox
        formControlName="packageTitleCheck"
        title="Package Title checkbox"
        aria-label="Package Title checkbox"
      />
    </div>
    <div class="col-md-8">
      <input id="packageTitle" euiInputText formControlName="packageTitle" />
    </div>
  </div>
  <div euiInputGroup class="row">
    <div class="col-md-3">
      <label euiLabel for="eeaRelevance">{{
        'page.workspace.create-form.' + translationKey + '.eea-relevance'
          | translate
      }}</label>
    </div>
    <div class="col-md-1">
      <input
        euiInputCheckBox
        formControlName="eeaRelevance"
        title="EEA Relevance checkbox"
        aria-label="EEA Relevance checkbox"
      />
    </div>
    <div class="col-md-8">
      <input
        euiInputText
        [disabled]="true"
        [placeholder]="
          'page.workspace.create-form.' +
            translationKey +
            '.eea-relevance.placeholder' | translate
        "
      />
    </div>
  </div>
</form>
