<eui-dialog
  #dialog
  isClosedOnClickOutside
  [isHandleCloseOnClickOutside]="true"
  [isHandleCloseOnDismiss]="true"
  [isHandleCloseOnEscape]="true"
  [isHandleCloseOnClose]="true"
  (clickOutside)="close()"
  (dismiss)="close()"
  (escape)="close()"
  (close)="close()"
>
  <eui-dialog-header>
    <div class="milestones-header">
      <h5 class="eui-dialog__header-title">
        {{ 'page.collection.milestones.add-dialog.title' | translate }}
      </h5>
      <button
        type="button"
        class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
        (click)="close()"
      >
        <span class="eui-button__container">
          <eui-icon-svg icon="eui-close"></eui-icon-svg
        ></span>
      </button>
    </div>
  </eui-dialog-header>
  <form [formGroup]="form" class="eui-u-ml-4xl">
    <div
      class="eui-u-flex eui-u-mb-m eui-u-flex-justify-content-between eui-u-flex-align-items-start"
    >
      <label
        for="milestone_type"
        class="eui-u-font-m eui-u-font-bold eui-u-mb-none"
        >{{ 'page.collection.milestones.table.type' | translate }}</label
      >
      <select
        euiSelect
        id="milestone_type"
        name="milestone_type"
        formControlName="milestonesType"
        class="milestones-select"
        required
      >
        <option *ngFor="let type of types">
          {{ type.label | translate }}
        </option>
      </select>
    </div>
    <div
      class="eui-u-flex milestones-required eui-u-flex-justify-content-between eui-u-flex-align-items-start"
    >
      <input
        euiInputText
        id="milestonesTitle"
        name="milestonesTitle"
        class="milestones-title"
        [placeholder]="
          'page.collection.milestones.table.add-milestone-dialog.title.placeholder'
            | translate
        "
        formControlName="milestonesTitle"
      />
      <label
        for="milestonesTitle"
        class="eui-u-font-m eui-u-font-bold eui-u-mb-none"
        >{{
          'page.collection.milestones.table.add-milestone-dialog.title'
            | translate
        }}</label
      >
    </div>
  </form>
  <eui-dialog-footer>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="close()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        type="button"
        euiButton
        euiPrimary
        (click)="onAccept()"
        [disabled]="form.invalid"
      >
        {{
          'page.collection.milestones.table.add-milestone-dialog.create'
            | translate
        }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
