.input-button-layout {
  display: flex;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  box-sizing: border-box;
  padding: 0 10px;
  flex-direction: column;
  align-content: center;
}
@media (max-width: 766px) {
  .search-container {
    width: 98%;
  }
}
