@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin xml {
    @include printUI;
    @include exportPdf;

    akomaNtoso {
        @extend %defaultBoxSizing;
        @extend %pageFont;

        doc[name="STAT_DIGIT_FINANC_LEGIS" i] {
            @extend %xmlCoverPageFS;
            @extend %xmlCoverPage;
            @extend %xmlSecondPageFS;
            //@extend %xmlSecondPage;

            mainbody[leos\:origin="cn"], preface[leos\:origin="cn"] {
                font-weight: bold;
            }

            .cke_editable {
                font-weight: normal;
            }

            meta * {
                display: none;
            }

            div.portrait {
                padding: 20px 2.5cm 10px;
                margin: 0 0 0 $PORTRAIT_MARGIN_LEFT;
                @extend %pageLayout;

                & > :nth-child(1) {
                    //padding: 20px 2.5cm 10px;
                    //margin: 0 0 0 180px;
                }
            }

            div.landscape {
                width: $LANDSCAPE_WIDTH;
                margin-left: $LANDSCAPE_MARGIN_LEFT;
                @extend %pageLayout;

                & > :nth-child(1) {
                }
            }

            div.orientation > .landscape {
                width: $LANDSCAPE_WIDTH;
                margin-left: $LANDSCAPE_MARGIN_LEFT;
                @extend %pageLayout;

                & > :nth-child(1) {
                }
            }

            & content {
                & > table {
                    @extend %tableMargin;
                }
            }

        }
    }
    
    // AKN styles
    doc[name="STAT_DIGIT_FINANC_LEGIS" i] {
        @extend %xmlAuthorialNote;
        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlLevel;
        @extend %editorLevelNumber;
        @extend %xmlLongTitle;
        @extend %xmlPreface;
        @extend %xmlList;
        @extend %xmlTable;
        @extend %xmlCoverPageFS;
        @extend %compare;
        @extend %xmlHigherElements;
        @extend %xmlImage;
        @extend %documentFooter;
        @extend %xmlInline;
        @extend %xmlGuidance;

        @extend %xmlArticle;
        @extend %xmlArticleParagraph;
        @extend %xmlSubParagraph;
        @extend %xmlArticlePointSubParagraph;
        @extend %xmlReference;
        @extend %xmlChangeDetails;

        @extend %xmlTrackChanges;

        @include editor;

        display: block;
    }

    div.leos-statfinanclegis-view div.leos-doc-content doc[name="STAT_DIGIT_FINANC_LEGIS" i] {
        @extend %soft;
    }

    div.leos-statfinanclegis-view div.leos-double-comparison-content doc[name="STAT_DIGIT_FINANC_LEGIS" i] {
        @extend %doubleCompare;
    }
}
