<eui-page>
  <eui-page-content>
    <h1>{{ 'page.error.page-not-found.title' | translate }}</h1>
    <button euiButton euiBasicButton euiPrimary [routerLink]="['/home']">
      {{ 'page.error.page-not-found.home' | translate }}
    </button>
  </eui-page-content>
</eui-page>
