@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */

@function card-icon-color($type) {
    $document-icon-color: $G_ORANGE_COLOR;
    $proposal-icon-color: $MAIN_BLUE;

    @if $type == "document" {
        @return $document-icon-color;
    }
    @else if $type == "proposal" {
        @return $proposal-icon-color;
    }
    @else {
        @return $document-icon-color;
    }
}

@mixin card {

    .leos-card-holder {
        background: $v-background-color;
        .v-grid-tablewrapper {
            border: none;
        }
        .v-grid-row-stripe > td {
            background: $v-background-color;
        }
        .v-grid-row > td {
            border-top: none;
            border-bottom:none;
        }
        .v-grid-row {
            margin: 0 0px 5px 0px;
        }
        .v-grid-cell{
            padding: 0;
        }
    }

    .leos-card {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        color: $MAIN_BLUE;
        background: $PALE_BG_BLUE;
        border: 1px solid darken($PALE_BG_BLUE, 5%);;

        .leos-card-header {
            //padding: 3px 10px;
            font-weight: bold;
            opacity: 0;
            background: $MAIN_BLUE;
            color: $WHITE;
        }

        .leos-card-footer {
            padding: 0 10px;
            width: 100%;
            opacity: 0;
            font-size: 12px;
            .footer-caption {
                font-weight: bold;
            }
            * {
                margin-right: 7px;
                line-height: initial;
            }
        }

       .leos-card-footer-right  {
            float:right;
       }

        &:hover {
            border: 1px solid $MAIN_BLUE;
            cursor: pointer;
            .leos-card-footer,
            .leos-card-header {
                opacity: 1;
            }
        }

        .cloned-labels {
            background-color: $MAIN_BLUE;
            color: $WHITE;
            padding: 0 5px;
        }
    }

    .leos-card.cloned-proposal {
        background: $LIGHT_SLATE_GREY;
    }

    /*FIXME set from card*/
    @each $type in document, proposal {
        .#{$type} .v-caption-leos-card-icon .v-icon {
            color: card-icon-color($type);
        }
    }

    .v-caption-leos-card-icon .v-icon {
       font-size: 50px;
       line-height: 60px;
    }

    .leos-card-details {
        padding: 3px 10px 0px 10px;
        .leos-card-title {
            font-size: 14px;
            line-height: 1.1em;
        }
    }

    .leos-card-actions .v-button-link {
        padding-left: 0px;
    }

    .leos-card .leos-card-actions * {
        font-weight: bold;
        font-size: 12px;
        line-height: 1em;
        text-align: left;
    }

    .leos-card .v-caption-leos-caption-on-left {
        float: left;
        padding-right: 5px;
        //line-height: 12px;
    }

    .leos-card .v-caption-leos-caption-on-left +
    .v-label-leos-caption-on-left {
        color: #00b4f0;
        font-weight: bold;
        display: inline;
    }

    /*shifting the lock button over image*/
    .leos-lock-icon * {
        margin-left: 17px;
        margin-top: 3px;
        font-size: 20px;
    }

    .hidden * {
        display: none
    }

    .v-button {
        &.icon-red .v-icon {
            color: #a31515;
        }
        &.icon-green .v-icon{
            color:$G_GREEN_COLOR;
        }
    }
}
