/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */

$CHANGE-PANE-BORDER-COLOR: #e9e9e9;
$CHANGE-PANE-TEXT-COLOR: black;

@mixin changePane($type) {

    .leos-revision-content,
    .leos-marked-content,
    .leos-double-comparison-content {
        overflow: auto;
        position: relative;
        akomaNtoso #{$type} {
            color: $CHANGE-PANE-TEXT-COLOR;
            & > coverPage {
                border: 1px solid $CHANGE-PANE-BORDER-COLOR;
                box-shadow: none;
            }
            & > :not(coverPage) {
                border-left: 1px solid $CHANGE-PANE-BORDER-COLOR;
                border-right: 1px solid $CHANGE-PANE-BORDER-COLOR;
                box-shadow: none;
            }

            & > preface {
                border-top: 1px solid $CHANGE-PANE-BORDER-COLOR;
            }

            & > :last-child {
                border-bottom: 1px solid $CHANGE-PANE-BORDER-COLOR;
            }
        }
    }
}
