@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */
@import "changePane";

$SWITCH_DIMENSIONS: 16px;

@mixin documentView {

    .leos-docview-doctitle {
        font-size: 16px;
    }

    .leos-docview-icon .v-icon {
    	color: $G_ORANGE_COLOR;
        font-size: 32px;
        padding-left: 5px;
    }

    .leos-viewdoc-docbar,
    .leos-viewdoc-tocbar,
    .leos-markedtext-bar,
    .leos-revision-bar,
    .leos-doubleComparison-bar {
        background: $GREY;
        border-top: 1px solid lighten($MENU_BORDER_COLOR, 30%);
        border-bottom: 1px solid lighten($MENU_BORDER_COLOR, 45%);
    }

    .leos-viewdoc-docbar,
    .leos-markedtext-bar,
    .leos-revision-bar {
        color: $MAIN_BLUE;
    }

    .leos-revision-bar {
        .onoffswitch {
            width: 30px;
        }

        .onoffswitch-slider {
            background-color: #b5f1ad;
            border: 1px solid $HEADER_BLUE;
            height: $SWITCH_DIMENSIONS;
            right: 12px;
            border-radius: $SWITCH_DIMENSIONS;
        }

        .onoffswitch-slider:before {
            border-color: $HEADER_BLUE;
            width: $SWITCH_DIMENSIONS;;
            right: 12px;
            border-radius: $SWITCH_DIMENSIONS;;
            background-color: $HEADER_BLUE;
        }

        .onoffswitch-slider.on:before {
            transform: translateX($SWITCH_DIMENSIONS);
        }

        .onoffswitch-slider.off {
            background-color: WHITE;
        }
    }

    .leos-accordion-tab-header {
        background: $GREY;
        border-bottom: 1px solid lighten($MENU_BORDER_COLOR, 45%);
        padding-left: 5px;
    }

    .leos-markedtext-bar,
    .leos-revision-bar {
        padding-left: 10px;
    }

    .leos-toolbar-button {
        padding: 0 5px;
        color: $MAIN_BLUE;
        .v-icon {
            font-size: 16px;
        }
    }

    .leos-toolbar-button.enable-sync {
       color: $HEADER_BLUE;
    }
    
    .leos-toolbar-button.disable-sync {
       color: $G_BORDER_COLOR;
    }

    .leos-toolbar-button.v-disabled {
        color: $DARK_GREY;
    }

    .leos-toolbar-button.navigation-btn {
        padding: 0;  
    }

    .leos-toolbar-button.leos-toggle-button {
        padding-bottom: 5px;  
    }

    .leos-toolbar-button.revision-search {
        background: transparent;
        border: none;
    }

    .text-refresh-note {
        padding: 0;
        color: $MAIN_BLUE;
        background: $GREY !important;
        .v-icon {
            font-size: 16px;
        }
    }

    .text-refresh-note.v-disabled {
        color: $MAIN_BLUE;
        opacity: inherit;
    }

    .v-caption-leos-toolbar-user-coedition {
        padding: 2px 5px;
        color: $HEADER_BLUE;
        user-select: none;
        .v-icon {
            font-size: 16px;
        }
    }

    .v-caption-leos-toolbar-user-coedition-self-user {
        color: $GREY_COLOUR;
    }

    .leos-viewdoc-toctree-panel {
        border: 0;
    }

    .leos-doc-content {
        overflow: auto;
        color: black;
        background: $GREY;
        position: relative;
    }

    .leos-main-layout {
        background: $GREY;
    }

    @include changePane("bill");

    .bookmark-container {
        background:  $HEADER_BLUE;
        position: fixed;
        bottom: 125px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        width:0;
        opacity:0;
        height:30px;
        transition: opacity .4s ease-in, width .4s ease-out;
        display:block;
        white-space: nowrap;
        .bookmark-link {
            color: $WHITE;
            display:none;
        }
        .bookmark-icon {
            font-family: "Vaadin-Icons";
        }
        &.displayed {
            width:200px;
            display: block;
            opacity:1;
            padding:5px;
            .bookmark-link  {
                display:initial;
            }
        }
    }
    .leos-hidden {
        display: none;
    }

    .merge-action-list {
        & > input {
            background: $MAIN_BLUE;
            color: $WHITE;
        }
    }
}
