//
// Copyright 2024 European Union
//
// Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
// You may not use this work except in compliance with the Licence.
// You may obtain a copy of the Licence at:
//
//     https://joinup.ec.europa.eu/software/page/eupl
//
// Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the Licence for the specific language governing permissions and limitations under the Licence.
//

$DARK_GREY: #808080;
$LIGHT_GREY: #A7A7A7;
$WHITE:#FFFFFF;
%softRemoved {
    text-decoration: line-through;
    color: $LIGHT_GREY;
}

%softAdded {
    font-weight: bold;
}

%leosSoftMoveLabel {
 	font-size: 15px;
    font-style: normal;
    margin: 0 2px;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none !important;
    color: $WHITE !important;       /*KLUGE:!important is used to override the leos-content-removed styling as it has
                                      more preference over this */
}

@mixin softAction {
    span.leos-soft-move-label {
        @extend %leosSoftMoveLabel;
        background-color: $DARK_GREY !important;
        cursor: pointer;
        padding: 2px 5px;
        height: 18px;
    }

    .leos-soft-move-title {
        margin-left: 0;
    }

    span.leos-transparent-soft-move-label {
        @extend %leosSoftMoveLabel;
        background-color: $WHITE;
        visibility: hidden;
    }

    .leos-soft-removed *, .leos-soft-num-removed{
        @extend %softRemoved;
    }

    .leos-soft-new *, .leos-soft-num-new{
        @extend %softAdded;
    }

    .leos-soft-movedto * {
        @extend %softRemoved;
    }

    .leos-soft-movedfrom span {
        @extend %softAdded;
    }
    
    .leos-toc-tree {
        span.leos-soft-move-label {
            font-weight: normal;
            font-family: "Times New Roman", Times, serif;
            height: 16px;
            padding: 2px;
        }
    }
}
