@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */

/* TODO this is just a grab bag of styles related to window fixing */
@mixin window {
    .v-window {
        border: 1px solid rgba(18, 115, 157, 0.5);
        box-shadow: 1px 1px 7px 1px rgba(183, 228, 247, 0.5);
    }

    .v-window-outerheader {
        background-color: $PALE_BG_BLUE;
        border-bottom: 1px solid rgba(18, 115, 157, 0.5);
    }

    .v-window-closebox {
        background-color: inherit;
    }

    .v-window-header {
        color: #003F59;
        font-size: 14px;
    }

    .window-contents-area {
        border: none;
        box-shadow: none;
    }

    .window-buttons-area {
        padding: 0 6px 6px 9px;
    }

    /* LEOS tree styles */
    .v-tree-node-enabled {
        opacity: 1.0;
        filter: alpha(opacity=100);   /*KLUGE: fix for IE8 opacity, causes blur*/
        background-color: #FFF;       /*KLUGE: fix for IE8 transparency blur*/
    }

    .v-tree-node-disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);    /*KLUGE: fix for IE8 opacity, causes blur*/
        background-color: #FFF;       /*KLUGE: fix for IE8 transparency blur*/
    }

    .v-tree-node-drag-top:before, .v-tree-node-drag-bottom:after, .v-tree-node-drag-bottom.v-tree-node-dragfolder.v-tree-node-expanded > .v-tree-node-children:before {
        box-shadow: 0 0 0 2px #7bd2f6;  //this style is added to show a bigger highlight
                                        //while dragging an item in between two tree elements
    }    

    /* LEOS draggable ToC item styles */
    .leos-dragItem {
        // this style is copied from the v-tree-node-caption-drag-center
        // but the border is made 1 pixel
        border: 1px solid #1d9dff;
        border-radius: 4px;
        margin: -2px 2px -2px -2px;
        background-color: #bcdcff;
        // only this part is proprietary
        text-align: center;
    }

    .v-panel-caption {
        background-color: $PALE_BG_BLUE;
        background-image: none;
    }
    
}