.label-column label {
  font-weight: bold;
  padding-right: 0;
}

.col-sm-3 { 
  width: 25% !important;
  padding-bottom: 6px;
}

@media (max-width: 914px) {
  .label-column {
    text-align: start;
    width: 100%;
  }

  .confidentiality-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
