<div class="eui-dropdown-button">
  <eui-dropdown>
    <button
      euiButton
      euiSecondary
      euiOutline
      euiSizeS
      (click)="onMenuIconClick()"
    >
      <span euiLabel translate="page.editor.actions-dropdown.label"></span>
      <eui-icon-svg
        icon="eui-ellipsis-vertical"
        aria-label=" "
      ></eui-icon-svg>
    </button>
    <eui-dropdown-content>
      <ul euiList class="eui-list--with-line-separators">
        <!-- Save this version -->
        <li
          euiListItem
          (click)="createVersionDialog.open()"
          *ngIf="saveVersionVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.save-version"
          ></button>
        </li>
        <!-- Export this version -->
        <li euiListItem (click)="doc.download()" *ngIf="exportVersionVisible">
          <button euiListItem>
            {{ 'page.editor.actions-dropdown.export' | translate }}
          </button>
        </li>
        <!-- Export this version with annotations -->
        <li
          euiListItem
          (click)="doc.download(true)"
          *ngIf="exportVersionWithAnnotationsVisible"
        >
          <button euiListItem>
            {{
              'page.editor.actions-dropdown.export-with-annotations' | translate
            }}
          </button>
        </li>
        <!-- Export clean version -->
        <li
          euiListItem
          (click)="doc.downloadCleanVersion()"
          *ngIf="exportCleanVersionVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.export-clean-version"
          ></button>
        </li>
        <!-- Show clean version -->
        <li
          euiListItem
          (click)="showCleanVersion()"
          *ngIf="showCleanVersionVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.show-clean-version"
          ></button>
        </li>
        <!-- Export to eConsilium -->
        <li
          euiListItem
          (click)="eConsiliumModal.open()"
          *ngIf="exportEConsiliumVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.export-econsilium"
          ></button>
        </li>
        <!-- Import from the Office Journal -->
        <ng-container *ngIf="importVisible">
          <li euiListItem (click)="importDialog.open()">
            <button
              euiListItem
              translate="page.editor.actions-dropdown.import"
            ></button>
          </li>
        </ng-container>
        <!-- See/Hide user guidance -->
        <li
          euiListItem
          (click)="ckEditorService.toggleUserGuidance()"
          *ngIf="toggleUserGuidanceVisible"
        >
          <button euiListItem>
            <eui-icon-svg
              size="s"
              [icon]="
                (doc.userGuidanceVisible$ | async)
                  ? 'eui-checkbox'
                  : 'eui-checkbox-outline'
              "
            ></eui-icon-svg>
            {{ 'page.editor.actions-dropdown.see-user-guidance' | translate }}
          </button>
        </li>
        <!-- See navigation panel -->
        <li
          euiListItem
          (click)="doc.toggleNavigationSidebar()"
          *ngIf="seeNavigationPanelVisible"
        >
          <button euiListItem>
            <eui-icon-svg
              size="s"
              [icon]="
                (doc.navigationSidebarCollapsed$ | async)
                  ? 'eui-checkbox-outline'
                  : 'eui-checkbox'
              "
            ></eui-icon-svg>
            {{ 'page.editor.actions-dropdown.see-navigation' | translate }}
          </button>
        </li>
        <!-- Enable track changes -->
        <li euiListItem (click)="toggleTrackChangesEnabled()">
          <button euiListItem [disabled]="!canActivateTrackChanges">
            <eui-icon-svg
              size="s"
              [icon]="
                isTrackChangesEnabled
                  ? 'eui-checkbox'
                  : 'eui-checkbox-outline'
              "
            ></eui-icon-svg>
            {{
              'page.editor.actions-dropdown.enable-track-changes' | translate
            }}
          </button>
        </li>
        <!-- See track changes -->
        <li euiListItem (click)="toggleSeeTrackChanges()">
          <button euiListItem>
            <eui-icon-svg
              size="s"
              [icon]="
                seeTrackChanges
                  ? 'eui-checkbox'
                  : 'eui-checkbox-outline'
              "
            ></eui-icon-svg>
            {{ 'page.editor.actions-dropdown.see-track-changes' | translate }}
          </button>
        </li>
        <!-- Renumber Document -->
        <li
          euiListItem
          (click)="onApplyContinuousNumberingSelect()"
          *ngIf="renumberDocumentVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.apply-continuous-numbering"
          ></button>
        </li>
        <!-- Change Annex Structure -->
        <li
          euiListItem
          (click)="handleAnnexStructureChange()"
          *ngIf="changeDocumentStructureVisible"
        >
          <button
            euiListItem
            translate="page.editor.actions-dropdown.change-document-structure"
          ></button>
        </li>
      </ul>
    </eui-dropdown-content>
  </eui-dropdown>
</div>

<app-save-version-dialog #createVersionDialog></app-save-version-dialog>

<app-download-econsilium-modal #eConsiliumModal></app-download-econsilium-modal>

<app-import-from-journal-dialog #importDialog></app-import-from-journal-dialog>
