.subversions {
  max-height: 100px;
}

.subversion {
  align-items: center;
  display: flex;
  gap: var(--eui-base-spacing-xs);
  overflow-y: hidden;
  padding-bottom: 5px;
  &:hover {
    background: rgb(0 0 0 / 5%);
  }
}

.subversion > .title {
  flex-grow: 1;
  flex-shrink: 1;
  text-overflow: ellipsis;
}

.eui-input-checkbox--button-sizing {
  // eui-button--size-s height & width
  $euiButtonSSize: calc(2 * var(--eui-base-spacing-m));
  // eui-input-checkbox height & width
  $euiCheckboxSize: calc(
    var(--eui-base-spacing-m) + var(--eui-base-spacing-2xs)
  );

  display: inline-block;
  margin: calc(($euiButtonSSize - $euiCheckboxSize) / 2);
  position: relative !important;

  &::before {
    margin: 0 !important;
  }
}

.eui-card-header__title-container-title,
.eui-card-header__title-container-subtitle {
  white-space: normal;
}

.version-search-excluded {
  opacity: 0.5;
}

.version-search-excluded .eui-card-header {
  opacity: 0.5;
}
