<eui-card class="version-panes" euiNoShadow *ngIf="!isFilteredOut">
  <eui-card-header>
    <eui-card-header-title>{{ title$ | async }}</eui-card-header-title>
    <eui-card-header-subtitle *ngIf="description">
      {{ description }}
    </eui-card-header-subtitle>
    <eui-card-header-subtitle class="eui-u-font-light eui-u-font-s">{{ subtitle$ | async }}</eui-card-header-subtitle>
    <eui-card-header-right-content>
      <eui-chip euiSizeS euiPrimary *ngIf="isMilestone">
        <span
          euiLabel
          translate="page.editor.versions.group-tag.milestone"
        ></span>
      </eui-chip>
      <eui-chip euiSizeS euiSuccess *ngIf="isCreation">
        <span
          euiLabel
          translate="page.editor.versions.group-tag.creation"
        ></span>
      </eui-chip>
      <app-version-actions-dropdown
        [version]="majorVersion"
        [isMilestone]="isMilestone"
        (exploreMilestone)="exploreMilestone.emit($event)"
        *ngIf="
          !isRecent &&
          (versionCompareService.compareModeEnabled$ | async) === false
        "
      ></app-version-actions-dropdown>
      <input
        id="select-{{ majorVersion.documentId }}"
        class="eui-input-checkbox--button-sizing"
        euiInputCheckBox
        [checked]="isCompareCheckboxChecked(majorVersion)"
        [disabled]="isCompareCheckboxDisabled(majorVersion)"
        (change)="onSelectVersion(majorVersion, $event)"
        *ngIf="!isRecent && (versionCompareService.compareModeEnabled$ | async)"
      />
    </eui-card-header-right-content>
  </eui-card-header>

  <eui-card-content
    class="eui-u-pb-none {{ !showVersions ? 'eui-u-display-hidden' : '' }}"
    (scroll)="onScrollLoadData()"
  >
    <div class="subversions">
      <div
        class="subversion"
        title="{{ version.updatedDate }} {{ version.createdBy }}"
        *ngFor="
          let version of this.displayedVersions;
          trackByProperty: 'cmisVersionNumber'
        "
      >
        <div>{{ formatVersionNumber(version) }}</div>
        <div class="title">{{ formatTitle(version) }}</div>
        <div class="">
          <app-version-actions-dropdown
            [version]="version"
            *ngIf="
              (versionCompareService.compareModeEnabled$ | async) === false
            "
          ></app-version-actions-dropdown>
          <input
            id="select-{{ version.documentId }}"
            class="eui-input-checkbox--button-sizing"
            euiInputCheckBox
            [checked]="isCompareCheckboxChecked(version)"
            [disabled]="isCompareCheckboxDisabled(version)"
            (change)="onSelectVersion(version, $event)"
            *ngIf="versionCompareService.compareModeEnabled$ | async"
          />
        </div>
      </div>
    </div>
  </eui-card-content>

  <eui-card-content *ngIf="hasMore">
    <button
      class="eui-u-pv-none eui-u-pl-none eui-u-pr-xs"
      euiButton
      euiSizeS
      euiBasicButton
      euiSecondary
      (click)="toggleShowMore()"
    >
      <eui-icon-svg
        [icon]="showMore ? 'chevron-up' : 'chevron-down'"
        set="sharp"
        size="s"
        fillColor="primary-100"
      ></eui-icon-svg>
      <span class="eui-u-ml-2xs" euiLabel>{{ showMoreLabel }}</span>
    </button>
  </eui-card-content>
</eui-card>
