@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/
$border: 1px solid black;
@mixin xml {
    @include printUI;
    @include exportPdf;

    akomaNtoso {
        @extend %defaultBoxSizing;
        @extend %pageFont;

        doc[name="ANNEX" i] {
            @extend %xmlCoverPage;
            @extend %xmlSecondPage;
            @extend %xmlOrientation;
            @extend %xmlHigherdivision;

            .cke_editable {
                font-weight: normal;
            }

            meta * {
                display: none;
            }
        }
    }
    
    // AKN styles
    doc[name="ANNEX" i] {
        @extend %xmlAuthorialNote;
        @extend %elementActions;
        @extend %elementUserCoEdition;
        @extend %xmlLevel;
        @extend %xmlParagraph;
        @extend %editorLevelNumber;
        @extend %xmlLongTitle;
        @extend %xmlPreface;
        @extend %xmlList;
        @extend %xmlTable;
        @extend %xmlAnnexCoverPage;
        @extend %compare;
        @extend %xmlHigherElements;
        @extend %xmlImage;
        @extend %documentFooter;
        @extend %xmlGuidance;
        @extend %xmlMainbody;

        @extend %xmlArticle;
        @extend %xmlArticleParagraph;
        @extend %xmlSubParagraph;
        @extend %xmlArticlePointSubParagraph;
        @extend %xmlReference;
        @extend %xmlChangeDetails;

        @extend %xmlTrackChanges;

        @include editor;
        
        display: block;
    }

    div.leos-annex-view div.leos-doc-content doc[name="ANNEX" i] {
        @extend %soft;
    }

    div.leos-annex-view div.leos-double-comparison-content doc[name="ANNEX" i] {
        @extend %doubleCompare;
    }
}
