:host ::ng-deep {
  .toc-container {
    display: flex;
    flex-direction: column;
    font-size: 10px !important;
  }

  .tree-container {
    overflow: scroll;
  }

  .selected-node {
    background-color: #7bd2f6 !important;
    border-radius: 2rem;
    max-width: fit-content;
    padding: 0.5rem;
  }

  .edit-element-container {
    display: flex;
    flex-direction: column;
  }

  .tree-container {
    position: relative;
  }

  mat-tree {
    background-color: transparent !important;
    overflow: auto;
  }

  .mat-tree-node {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.3rem;
    margin-top: 30px;
    min-width: 20rem;
  }

  .eui-dropdown {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-width: 0 0 1px 1px;
    padding-left: 40px;
    position: relative;
    top: -24px;
  }

  li.mat-tree-node,
  li div {
    margin: 0;
    position: relative;
    top: 24px;
  }

  li ul {
    margin-left: -40px;
    padding-left: 60px;
  }

  .mat-nested-tree-node:last-child ul {
    margin-left: -41px;
  }

  .node-li{
    height: 30px;
  }

  [id^="toc_#deleted_"],
  [id^="toc_#moved_"],
  [id^="toc_#deletedX"],
  [id^="toc_#movedX"],
  .leos-soft-removed,
  .leos-soft-num-removed,
  .leos-soft-movedto {
    color: #a7a7a7;
    text-decoration: line-through;
  }

  .leos-soft-new,
  .leos-soft-num-new,
  .leos-soft-movedfrom span {
    font-weight: bold;
  }

  .leos-soft-move-label {
    background-color: #808080;
    cursor: pointer;
    height: 18px;
    padding: 2px 5px;
  }

  .leos-soft-move-label,
  .leos-transparent-soft-move-label {
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    line-height: 1;
    margin: 0 2px;
    text-decoration: none !important;
  }

  .leos-soft-move-label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 16px;
    padding: 2px;
  }
}
