@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- Editor Styles -----------------------------//
%editorLevelNumber {
  level[leos\:depth="5"], level[leos\:depth="6"], level[leos\:depth="7"] {
    .cke_editable > p[data-akn-name="aknLevelNum"] {
      min-width: 105px
    }
  }

  level, level[leos\:depth="1"], level[leos\:depth="2"], level[leos\:depth="3"], level[leos\:depth="4"] {
    .cke_editable > p[data-akn-name="aknLevelNum"] {
      min-width: 67px
    }
  }
}
