<div class="proposals-list-container">
  <ng-container *ngIf="proposals.length">
    <ng-container
      *ngFor="let proposal of proposals; trackBy: trackProposal; let i = index"
    >
      <app-proposal-item
        [proposal]="proposal"
        [status]="geContributionStatus(proposal)"
        [originRef]="proposal.cloneProposalMetadataVO?.originRef ?? null"
      ></app-proposal-item>
    </ng-container>
  </ng-container>
</div>
