@import 'node_modules/@eui/styles-base/src/styles/base';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

$GREY_COLOUR:#707070;
$HEADER_BLUE:#0065A2;

.leos-user-coedition {
  color: $HEADER_BLUE;
  user-select: none;
  z-index: 999;
}

.leos-user-coedition-self-user {
  color: $GREY_COLOUR;
}

.leos-user-coedition-toc-element {
  transform: translateX(-100%);
  position: absolute;
  display: inline-block;
  * {
    font-weight: normal;
  }
}
