.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  gap: 41px;
}

.hero-image {
  position: relative;
  background-image: url('~src/assets/images/home_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  height: 30vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
}

.hero-text {
  color: rgb(255, 255, 255);
  text-align: start;
  width: 75%;
}

.button-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.button-container button {
  outline: none;
  margin-right: 23px;
}

.label-container,
.button-container {
  display: flex;
  width: 83%;
}

.cards-containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  flex-direction: column;
  align-content: center;
}

.input-button-layout {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 5px;
}

.eui-input-group-addon {
  display: flex;
  align-items: center;
  position: relative;
}

.card-container {
  width: 40.1%;
}

.search-card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 29px;
  width: 80%;
}

.content {
  gap: 10px;
}

.input-container {
  position: absolute;
  right: 0;
  top: 0;
}

.input-label-container {
  margin-bottom: 0%;
  max-width: 75%;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.middle-body-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 766px) {
  .search-container {
    width: 98%;
  }

  .hero-image {
    justify-content: center;
    padding: 0px;
  }

  .content-container {
    max-width: 100%;
    padding-left: 0px;
  }

  .hero-text {
    text-align: center;
    width: 100%;
  }

  .button-container {
    justify-content: center;
    padding: 20px 0;
  }

  .button-container button {
    margin: 10px 5px;
  }

  .label-container,
  .button-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 100%;
  }

  .input-label-container {
    max-width: 100%;
  }

  .input-button-layout {
    max-width: 100%;
  }

  .search-card-container {
    width: 110%;
  }

  .middle-body-content {
    gap: 20px;
  }

  .notification-container {
    width: 70%;
  }

  @media (max-height: 414px) {
    .cards-containers {
      padding: 20px 20px;
    }
    .content-container {
      padding-left: 0px;
    }
  }

  @media (orientation: landscape) {
    .hero-image {
      height: 40vh;
    }
    .eui-page-content {
      gap: 30px;
    }
  }
}

@media (max-width: 376px) {
  .content-container {
    max-width: 100%;
    padding-left: 0px;
    padding-top: 0px;
  }

  .notification-container {
    width: 100%;
  }
}

@media (max-height: 740px) {
  .cards-containers {
    padding: 20px 20px;
  }
  @media (orientation: landscape) {
    .hero-image {
      height: 40vh;
    }
    .body-container {
      gap: 30px;
    }
  }
}

@media (max-height: 376px) {
  .total-results-sort {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .hero-image {
    padding: 0px, 0px;
  }
}
