.revision {
  align-items: center;
  display: flex;
  gap: var(--eui-base-spacing-xs);
}

.revision .title {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.updatedBy {
  color: var(--eui-card-subtitle-font-color);
  display: block;
  font-size: var(--eui-card-subtitle-font-size);
  font-weight: 300;
  margin-top: var(--eui-base-spacing-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.greyed {
  background-color: var(--eui-base-color-grey-10);
}
