<eui-card
  class="revisions-pane"
  euiNoShadow
  [ngClass]="{ greyed: contribution.greyed }"
  (click)="onClickView(contribution);"
>
  <eui-card-header [ngClass]="{ greyed: contribution.greyed }">
    <eui-card-header-left-content>
      <span euiLabel class="top-content">{{
        'page.editor.contribution-item.version'
          | translate
            : {
                version: revisionVersion
              }
      }}</span>
    </eui-card-header-left-content>
    <eui-card-header-right-content>
      <span euiLabel class="top-content">{{ originatingApplication }}</span>
    </eui-card-header-right-content>
  </eui-card-header>

  <eui-card-footer [ngClass]="{ greyed: contribution.greyed }">
    <eui-card-footer-action-buttons>
      <span euiLabel style="padding-right: 10px;" *ngIf="this.feedbackToBeSent">
        <eui-icon-svg
          size="s"
          fillColor="danger-100"
          icon="eui-ellipse"
          set="eui"
          [title]="'page.editor.contribution-item.feedback.tooltip' | translate"
        ></eui-icon-svg>
      </span>
      <span class="updatedBy">{{
        'page.editor.contribution-item.updated-by'
          | translate
            : {
                updatedOn: contribution.updatedDate,
                updatedBy: contribution.username
              }
      }}</span>
    </eui-card-footer-action-buttons>
    <eui-card-footer-action-icons>
      <img
        src="assets/icons/contribution_received.png"
        *ngIf="contribution.contributionStatus === ContributionStatus.Received"
        [euiTooltip]="
          'page.workspace.proposal-item.contribution-received' | translate
        "
      />
      <img
        src="assets/icons/contribution_done.png"
        *ngIf="
          contribution.contributionStatus ===
          ContributionStatus.ContributionDone
        "
        [euiTooltip]="
          'page.workspace.proposal-item.contribution-done' | translate
        "
      />
    </eui-card-footer-action-icons>
  </eui-card-footer>
</eui-card>
