.eui-button__container {
  width: 100%;
}

.tc_panel {
  background-color: #fff;
  border: 1px solid #b6b6b6;
  border-bottom-color: #999;
  border-radius: 3px;
  box-shadow: 0 0 3px rgb(0 0 0 / 15%);
  overflow: hidden;

  /* Restore the loading hide */
  visibility: visible;
}

.tc_menu_panel {
  margin: 0;
  padding: 2px;
}

/* The .tc_menuitem is the element that holds the entire structure of each of the menu items. */
.tc_menuitem span {
  /* Avoid the text selection cursor inside menu items. */
  cursor: pointer;
}

.tc_menubutton {
  /* The "button" inside a menu item is a <a> element.
     Transforms it into a block. */
  display: block;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  margin-left: 1px;
  min-height: fit-content;
  padding: 4px 5px 2px;
  text-align: left;
  width: 100%;
}

.tc_menubutton:hover,
.tc_menubutton:focus,
.tc_menubutton:active {
  background-color: #e9e9e9;
  display: block;
  outline: 1px dotted;
}

.tc_menubutton:hover {
  outline: none;
}

.tc_menubutton_disabled:hover,
.tc_menubutton_disabled:focus,
.tc_menubutton_disabled:active {
  /* Do not change background color for disabled items. */
  background-color: transparent;
  outline: none;
}

.tc_menubutton_inner {
  display: table-row;
}

.tc_menubutton_icon,
.tc_menubutton_label,
.tc_menuarrow {
  display: table-cell;
}

/* The menu item icon. */
.tc_menubutton_icon {
  background-color: #f8f8f8;
  padding: 6px 4px;
}

.tc_hc .tc_menubutton_icon {
  height: 16px;
  padding: 4px 0;
  width: 0;
}

.tc_menubutton:hover .tc_menubutton_icon,
.tc_menubutton:focus .tc_menubutton_icon,
.tc_menubutton:active .tc_menubutton_icon {
  background-color: #e9e9e9;
}

.tc_menubutton_disabled:hover .tc_menubutton_icon,
.tc_menubutton_disabled:focus .tc_menubutton_icon,
.tc_menubutton_disabled:active .tc_menubutton_icon {
  /* Do not change background color for disabled items. */
  background-color: #f8f8f8;
  outline: none;
}

.tc_menuitem .tc_menubutton_on {
  background-color: #e9e9e9;
  border: 1px solid #dedede;
  outline: none;
}

.tc_menubutton_on .tc_menubutton_icon {
  background-color: #e9e9e9;
  padding-right: 3px;
}

/* The textual part of each menu item. */
.tc_menubutton_label {
  background-color: transparent;
  padding: 0 5px;
  vertical-align: middle;
  width: 100%;
}

/* Shortcut placed next to the label. */
.tc_menubutton_shortcut {
  color: #979797;
}

.tc_menubutton_disabled .tc_menubutton_label {
  filter: alpha(opacity=30);

  /* Greyed label text indicates a disabled menu item. */
  opacity: 0.3;
}

.tc_panel_frame .tc_menubutton_label {
  display: none;
}

/* The separator used to separate menu item groups. */
.tc_menuseparator {
  background-color: #d1d1d1;
  height: 1px;
}
