.icon-container {
  display: inline;
  vertical-align: middle;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  transform: translateX(1%) translateY(40%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}

.icon-container:hover .tooltip {
  visibility: visible;
}
