/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/@eui/styles-base/src/styles/base';
@import '../../js/src/main/lib/jquery-ui-1.13.2/jquery-ui.css';

/*
 * Overrides
 */

eui-icon-svg > svg > use {
  // disables svg icon tooltips
  pointer-events: none;
}

/*
 * Utilities
 */

.app-u-gap-none {
  gap: var(--eui-base-spacing-none);
}

.app-u-gap-xs {
  gap: var(--eui-base-spacing-xs);
}

.app-u-gap-s {
  gap: var(--eui-base-spacing-s);
}

.app-u-gap-m {
  gap: var(--eui-base-spacing-m);
}

.app-u-gap-l {
  gap: var(--eui-base-spacing-l);
}

.app-u-gap-xl {
  gap: var(--eui-base-spacing-xl);
}

.app-u-gap-xs {
  gap: var(--eui-base-spacing-xs);
}

.app-u-flex-basis-0 {
  flex-basis: 0 !important;
}

.app-u-flex-basis-100 {
  flex-basis: 100% !important;
}

.app-u-flex-basis-auto {
  flex-basis: auto !important;
}

.app-u-pointer-events-none {
  pointer-events: none;
}

.app-u-pointer-events-auto {
  pointer-events: auto;
}

.eui-u-text-wrap {
  white-space: normal !important;
}

.eui-dropdown-item__content {
  overflow: unset !important;
}

.eui-dropdown-item__content-text {
  font-style: normal;
}

.eui-dropdown-item__content-text > .eui-label {
  overflow: unset !important;
}

.eui-page-column--no-scrollbars > .eui-page-column__body {
  overflow: unset;
  padding: 0;
}

.eui-page-column--right-column .eui-page-column__header-toggle .eui-icon-svg {
  transform: rotate(180deg);
}

.eui-breadcrumb--compact .eui-breadcrumb__items {
  padding: var(--eui-base-spacing-2xs) var(--eui-base-spacing-s);
}

.eui-growl-item-message-title,
.eui-growl-item-message-detail {
  font-size: var(--eui-base-font-size-xs);
}

/*
 * Misc
 */

@font-face {
  // TODO: Are they used? If not remove them.
  font-family: Vaadin-Icons;
  src: url('../src/assets/fonts/Vaadin-Icons.woff');
}

.Vaadin-Icons {
  font-family: Vaadin-Icons;
}

.cke_reset_all .cke_dialog_ui_checkbox {
  position: relative;
}

.cke_reset_all .cke_dialog_ui_checkbox .cke_dialog_ui_checkbox_input {
  clip: unset !important;
  font-size: 1.3rem;
  height: unset !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.cke_reset_all
.cke_dialog_ui_checkbox
.cke_dialog_ui_checkbox_input
+ label::after {
  font-size: 1.3rem;
}

.eui-footer.leos-footer-content {
  font-size: 0.8rem;
  justify-content: center;
  max-height: 22px;
  padding: 0.3rem;

  a {
    text-decoration: none;

    span {
      white-space: pre;
    }
  }
}

.eui-legends {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 5px;
}

.responsive-chip-list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.notification-container {
  position: fixed;
  right: 0px;
  top: 55px;
  z-index: 9999;
  width: 40%;
}

.app-dialog-footer-content {
  display: flex;
  flex-direction: row;
  gap: var(--eui-base-spacing-m);
  justify-content: flex-end;
  flex-wrap: wrap;
}

.search-result {
  background-color: #feca1d;
}

.cdk-overlay-panel-upload {
  width: 42% !important;
}

.cdk-overlay-panel-milestone {
  width: 41% !important;
}

.focused-search-result {
  background-color: #7ed3f8 !important;
}

.version-search-found {
  background-color: #a0a0a0 !important;
}

.version-search-found .eui-card-header {
  background-color: #a0a0a0 !important;
}

article.leos-content-soft-new[leos\:softaction='add']
num:not([leos\:origin='ec']) {
  font-weight: bold;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer num.leos-content-soft-new {
  font-weight: 700 !important;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer span.leos-soft-move-label {
  background-color: #808080;
  cursor: pointer;
  height: 18px;
  padding: 2px 5px;
}

/* stylelint-disable-next-line selector-id-pattern */
#contributionViewContainer span.leos-soft-move-label {
  background-color: #808080;
  cursor: pointer;
  height: 18px;
  padding: 2px 5px;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer .leos-soft-move-title {
  margin-left: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer span.leos-transparent-soft-move-label {
  background-color: #fff;
  visibility: hidden;
}

/* stylelint-disable-next-line selector-id-pattern */
#contributionViewContainer span.leos-transparent-soft-move-label {
  background-color: #fff;
  visibility: hidden;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer span.leos-toc-tree span.leos-soft-move-label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  height: 16px;
  padding: 2px;
}

/* stylelint-disable-next-line selector-id-pattern */
#contributionViewContainer span.leos-soft-move-label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  height: 16px;
  padding: 2px;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer .leos-soft-removed *,
.leos .leos-soft-num-removed,
.leos .leos-soft-movedto * {
  color: #a7a7a7;
  text-decoration: line-through;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer .leos-soft-new *,
.leos .leos-soft-num-new,
.leos .leos-soft-movedfrom span {
  font-weight: bold;
}

/* stylelint-disable-next-line selector-id-pattern */
#docContainer span.leos-soft-move-label,
.leos span.leos-transparent-soft-move-label {
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  line-height: 1;
  margin: 0 2px;
  text-decoration: none !important;
}

/* stylelint-disable-next-line selector-id-pattern */
#contributionViewContainer span.leos-soft-move-label,
.leos span.leos-transparent-soft-move-label {
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  line-height: 1;
  margin: 0 2px;
  text-decoration: none !important;
}

/* stylelint-disable-next-line selector-id-pattern */
#contributionViewContainer longtitle {
  .leos-content-new {
    color: black;
    text-decoration: none;
  }

  .leos-content-removed {
    display: none;
  }
}

a.cke_dialog_tab {
  height: 25px !important;
}

/*
 * Overriding application fonts (start)
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/open-sans/OpenSans-Light-webfont.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/open-sans/OpenSans-Regular-webfont.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/open-sans/OpenSans-Semibold-webfont.woff');
}

:root {
  --eui-base-font-family: 'Open Sans', system-ui, -apple-system,
  blinkmacsystemfont, 'Segoe UI', roboto, ubuntu, 'Helvetica Neue', sans-serif;
}

body {
  // inside body for increased specificity

  mat-badge-content {
    font-family: var(--eui-base-font-family);
  }

  .mat-h1,
  .mat-headline,
  .mat-typography .mat-h1,
  .mat-typography .mat-headline,
  .mat-typography h1,
  .mat-h2,
  .mat-title,
  .mat-typography .mat-h2,
  .mat-typography .mat-title,
  .mat-typography h2,
  .mat-h3,
  .mat-subheading-2,
  .mat-typography .mat-h3,
  .mat-typography .mat-subheading-2,
  .mat-typography h3,
  .mat-h4,
  .mat-subheading-1,
  .mat-typography .mat-h4,
  .mat-typography .mat-subheading-1,
  .mat-typography h4,
  .mat-h5,
  .mat-typography .mat-h5,
  .mat-typography h5,
  .mat-h6,
  .mat-typography .mat-h6,
  .mat-typography h6 {
    font-family: var(--eui-base-font-family);
  }

  .mat-body-2,
  .mat-body-strong,
  .mat-typography .mat-body-2,
  .mat-typography .mat-body-strong,
  .mat-body,
  .mat-body-1,
  .mat-typography,
  .mat-typography .mat-body,
  .mat-typography .mat-body-1,
  .mat-caption,
  .mat-small,
  .mat-typography .mat-caption,
  .mat-typography .mat-small,
  .mat-display-4,
  .mat-typography .mat-display-4,
  .mat-display-3,
  .mat-typography .mat-display-3,
  .mat-display-2,
  .mat-typography .mat-display-2,
  .mat-display-1,
  .mat-typography .mat-display-1,
  .mat-bottom-sheet-container,
  .mat-button,
  .mat-fab,
  .mat-flat-button,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-raised-button,
  .mat-stroked-button,
  .mat-button-toggle,
  .mat-card,
  .mat-checkbox,
  .mat-table,
  .mat-calendar,
  .mat-dialog-title,
  .mat-expansion-panel-header,
  .mat-expansion-panel-content,
  .mat-form-field,
  .mat-menu-item,
  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger,
  .mat-radio-button,
  .mat-select,
  .mat-slide-toggle-content,
  .mat-slider-thumb-label-text,
  .mat-stepper-horizontal,
  .mat-stepper-vertical,
  .mat-tab-group,
  .mat-tab-label,
  .mat-tab-link,
  .mat-toolbar,
  .mat-toolbar h1,
  .mat-toolbar h2,
  .mat-toolbar h3,
  .mat-toolbar h4,
  .mat-toolbar h5,
  .mat-toolbar h6,
  .mat-tooltip,
  .mat-list-item,
  .mat-list-option,
  .mat-list-base .mat-subheader,
  .mat-list-base[dense] .mat-subheader,
  .mat-option,
  .mat-optgroup-label,
  .mat-simple-snackbar,
  .mat-tree {
    font-family: var(--eui-base-font-family);
  }

  .eui-input-maxlength-wrapper .eui-input-maxlength {
    font-family: var(--eui-base-font-family);
  }

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3,
  .h4,
  h4,
  .h5,
  h5,
  .h6,
  h6,
  .h7,
  .small,
  .h8,
  .smaller,
  .h9,
  .smallest,
  .tiny,
  .h9,
  .smallest,
  .tiny {
    font-family: var(--eui-base-font-family);
  }

  .eui-u-font-6xl,
  .eui-u-font-5xl,
  .eui-u-font-4xl,
  .eui-u-font-3xl,
  .eui-u-font-2xl,
  .eui-u-font-xl,
  .eui-u-font-l,
  .eui-u-font-m,
  .eui-u-font-s,
  .eui-u-font-xs,
  .eui-u-font-2xs,
  .eui-u-font-prolonged-xl,
  .eui-u-font-prolonged-l,
  .eui-u-font-prolonged-m,
  .eui-u-font-prolonged-sm,
  .eui-u-font-prolonged-xs {
    // overridden styles also use !important
    font-family: var(--eui-base-font-family) !important;
  }

  .eui-button {
    font-family: var(--eui-base-font-family);
  }

  .eui-input-group > label,
  .eui-input-group > .eui-label,
  .eui-input-group.row label,
  .eui-input-group.row .eui-label {
    font-family: var(--eui-base-font-family);
    margin-top: var(--eui-base-spacing-xs);
  }

  .eui-chip {
    &,
    .eui-chip--size-xs,
    .eui-chip--size-s,
    .eui-chip--size-l {
      .eui-chip-wrapper .eui-chip__content-container .eui-label {
        font-family: var(--eui-base-font-family);
      }
    }
  }

  .eui-feedback-message {
    font-family: var(--eui-base-font-family);
  }

  input[type='radio'].eui-input-radio[readonly]:checked + label {
    font-family: var(--eui-base-font-family);
  }

  .eui-select optgroup {
    font-family: var(--eui-base-font-family);
  }

  .eui-input-number,
  .eui-input-text,
  .eui-select,
  .eui-textarea__wrapper .eui-textarea,
  .ux-dropdown-tree.ux-dropdown-button {
    font-family: var(--eui-base-font-family);
  }

  .cke_notification_message,
  .cke_colorblock,
  .cke_reset_all,
  .cke_reset_all *,
  .cke_reset_all a,
  .cke_reset_all textarea {
    font-family: var(--eui-base-font-family);
  }

  [class*='hint--']::after {
    font-family: var(--eui-base-font-family);
  }

  akomantoso {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: inherit;
    }
  }

  .leos-double-compare-removed {
    font-weight: bold;
    text-decoration: line-through underline;
  }

  .leos-double-compare-added {
    font-weight: bold;
    text-decoration: underline;
  }
}

// Overriding application fonts (end)

//create temporary ui rule for merged contributions
// TODO: move this to document-editor.component.scss
.contribution-view-merge-pane .contribution-wrapper-after-merge:not([leos\:selectedAction]) {
  background-color: rgb(166 166 166 / 80%) !important;
  border: #8c8c8c thin solid;

  [leos\:mergeAction]:not([leos\:mergeAction=UNSELECT]):not([leos\:selectedAction]),
  ins,
  del,
  num {
    background-color: rgb(166 166 166 / 0%) !important;
  }
}


a, a:not([href]):not([tabindex]):not(eui-breadcrumb-item a) {
  color: var(--eui-base-color-link);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:not([href]):not([tabindex]):not(eui-breadcrumb-item a):hover {
  text-decoration: underline;
}

%tabStyles {
  border-radius: 2px !important;
  border-right: 1px dotted grey !important;
  margin-right: 2px !important;
}

.eui-tabs .eui-tab-item.eui-tab-item--primary {
  margin-right: 20px !important;
  @extend %tabStyles;
}

.eui-tabs .eui-tab-item--active {
  font-weight: bold !important;
  color: black !important;
  border-bottom-color: darkblue !important;
}

.eui-tabs .eui-tab-item--secondary {
  @extend %tabStyles;
}

.cke_combo__trackchangeactions .cke_combo_text {
  padding-left: 0px !important;
  width: 30px !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(46,46,46,0.91) !important;
}

.cke_combo__trackchangeactions .cke_combo_open {
  margin: 1px 5px;
}
