<!-- <eui-dialog
  #coEditionDetectedDialog
  [title]="'page.editor.co-edition-detected.title' | translate"
> -->
<div class="eui-u-display-flex eui-u-flex-column">
  <p>{{ 'page.editor.co-edition-detected.body.part1' | translate }}</p>
  <div class="eui-u-display-flex eui-u-flex-column">
    <span *ngFor="let item of coEditionsVO">
      <a href="sip:{{ item.userEmail }}">{{ item.userName }}</a>
      {{
      ('page.editor.co-edition-detected.body.part2' | translate) +
      ' ' +
      (item.editionTime | date:'dd/MM/yyyy HH:mm':null:'en-US' )
      }}
    </span>
  </div>
  <p>{{ 'page.editor.co-edition-detected.body.part3' | translate }}</p>
  <p>{{ 'page.editor.co-edition-detected.body.part4' | translate }}</p>
</div>
<!-- <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button (click)="handleCancel()" euiButton euiSecondary>
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button (click)="handleContinue()" euiButton euiPrimary>
        {{ 'page.editor.co-edition-detected.body.continue' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog> -->
