<ng-container [formGroup]="form">
  <!-- Search Row -->

  <div class="search-label">
    <label
      class="eui-u-m-none eui-u-p-none"
      for="search-input"
      translate="page.editor.search.search-input.label"
    ></label>
  </div>
  <div class="search-input eui-u-m-none" euiInputGroup>
    <div class="eui-input-group-addon">
      <input
        id="search-input"
        type="text"
        euiInputText
        euiClearable
        formControlName="searchText"
        [class]="
          isSearchActive() && (doc.searchResultsCounter$ | async) !== 0
            ? 'results-found'
            : isSearchActive() && (doc.searchResultsCounter$ | async) === 0
            ? 'results-not-found'
            : 'no-search'
        "
      />
      <div class="eui-input-group-addon-item">
        <span euiLabel *ngIf="(doc.searchResultsCounter$ | async) !== 0"
          >{{ doc.currentIndex + 1 }}
          {{ 'page.editor.search.results.separator' | translate }}
          {{ doc.searchResultsCounter$ | async }}</span
        >
        <eui-icon-svg
          icon="eui-search"
          *ngIf="(doc.searchResultsCounter$ | async) === 0 && !isSearchActive()"
        ></eui-icon-svg>
        <span
          euiLabel
          *ngIf="(doc.searchResultsCounter$ | async) === 0 && isSearchActive()"
          >{{ 'page.editor.search.results.not.found' | translate }}</span
        >
      </div>
    </div>
  </div>
  <div class="search-controls eui-u-flex app-u-gap-xs">
    <button
      euiSizeS
      euiButton
      euiIconButton
      euiSecondary
      (click)="doc.searchNext()"
    >
      <eui-icon-svg
        icon="eui-chevron-down"
        [title]="'page.editor.search.next-button.tooltip' | translate"
        [attr.aria-label]="'page.editor.search.next-button.tooltip' | translate"
      ></eui-icon-svg>
    </button>

    <button
      euiSizeS
      euiButton
      euiIconButton
      euiSecondary
      (click)="doc.searchPrevious()"
    >
      <eui-icon-svg
        icon="eui-chevron-up"
        [title]="'page.editor.search.prev-button.tooltip' | translate"
        [attr.aria-label]="'page.editor.search.prev-button.tooltip' | translate"
      ></eui-icon-svg>
    </button>

    <div class="checkbox-input-group">
      <input euiInputCheckBox id="matchCase" formControlName="matchCase" />
      <label euiLabel for="matchCase">{{
        'page.editor.search.matchCase.label' | translate
      }}</label>
    </div>

    <div class="checkbox-input-group">
      <input euiInputCheckBox id="wholeWords" formControlName="completeWords" />
      <label euiLabel for="wholeWords">{{
        'page.editor.search.wholeWords.label' | translate
      }}</label>
    </div>

    <button
      euiSizeS
      euiButton
      euiIconButton
      euiSecondary
      *ngIf="(canReplace | async)"
      (click)="toggleReplace()"
    >
      <eui-icon-svg
        icon="eui-swap-horizontal"
        [title]="'page.editor.search.replaceToggle-button.tooltip' | translate"
        [attr.aria-label]="
          'page.editor.search.replaceToggle-button.tooltip' | translate
        "
      ></eui-icon-svg>
    </button>

    <button euiSizeS euiButton euiOutline euiPrimary>
      <span
        euiLabel
        translate="global.actions.cancel"
        (click)="doc.searchCancelAndClose()"
      ></span>
    </button>
  </div>

  <!-- Replace Row -->
  <ng-container *ngIf="isReplace && (canReplace | async)">
    <div class="replace-label">
      <label
        class="eui-u-m-none eui-u-p-none"
        for="replace-input"
        translate="page.editor.search.replace-input.label"
      ></label>
    </div>
    <div class="replace-input eui-u-m-none" euiInputGroup>
      <div class="eui-input-group-addon">
        <input
          id="replace-input"
          euiInputText
          type="text"
          euiClearable
          (input)="setReplaceText($event)"
        />

        <div class="eui-input-group-addon-item">
          <eui-icon-svg icon="eui-swap-horizontal"></eui-icon-svg>
        </div>
      </div>
    </div>
    <div class="replace-controls eui-u-flex app-u-gap-xs">
      <button
        euiSizeS
        euiButton
        euiOutline
        euiPrimary
        (click)="doc.searchReplace()"
      >
        <span
          euiLabel
          translate="page.editor.search.replace-button.label"
        ></span>
      </button>

      <button
        euiSizeS
        euiButton
        euiOutline
        euiPrimary
        (click)="doc.searchReplaceAll()"
      >
        <span
          euiLabel
          translate="page.editor.search.replaceAll-button.label"
        ></span>
      </button>

      <button
        euiSizeS
        euiButton
        [euiOutline]="!doc.replacedTextPresent"
        [euiSecondary]="!doc.replacedTextPresent"
        [euiPrimary]="doc.replacedTextPresent"
        (click)="doc.searchSave()"
      >
        <span euiLabel translate="global.actions.save"></span>
      </button>

      <button
        euiSizeS
        euiButton
        [euiOutline]="!doc.replacedTextPresent"
        [euiSecondary]="!doc.replacedTextPresent"
        [euiPrimary]="doc.replacedTextPresent"
        (click)="doc.searchSaveAndClose()"
      >
        <span
          euiLabel
          translate="page.editor.search.saveAndClose-button.label"
        ></span>
      </button>
    </div>
  </ng-container>
</ng-container>
