<eui-dialog
  #milestoneAnnotationWarningModal
  isDraggable
  isClosedOnClickOutside
  [isHandleCloseOnDismiss]="true"
  [isHandleCloseOnEscape]="true"
  [isHandleCloseOnClose]="true"
  (clickOutside)="close()"
  (dismiss)="close()"
  (escape)="close()"
  (close)="close()"
>
  <eui-dialog-header>
    <div class="annotation-modal-header">
      <h5 class="eui-dialog__header-title">
        {{
          'page.collection.milestones.annotation-warning-modal.title'
            | translate
        }}
      </h5>
      <button
        type="button"
        class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
        (click)="close()"
      >
        <span class="eui-button__container">
          <eui-icon-svg class="eui-close"></eui-icon-svg
        ></span>
      </button>
    </div>
  </eui-dialog-header>
  <span class="eui-u-p-s">
    {{ 'page.collection.milestones.annotation-warning-modal.text' | translate }}
  </span>
  <eui-dialog-footer>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="close()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button type="button" euiButton euiPrimary (click)="onAccept()">
        {{ 'global.actions.confirm' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
