@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$LIST_SPACING: 40px;

%padList {
    display: block;
    position: relative;

    & > num {
        @extend %paddedText;
        display: block;
        min-width: $LIST_SPACING;
        float: left;
    }

    & > content {
        & > table {
            @extend %tableMargin;
        }
        & > p {
            @extend %paddedText;
            display: block;
        }
        & > aknP {
            @extend %paddedText;
            display: block;
            padding-left: $LIST_SPACING;
        }
    }
}

//------------------------------- XML Styles --------------------------------//
%xmlList {
    point, indent {
        @extend %padList;
    }
    list {
        point,
        indent {
            padding-left: $LIST_SPACING;
            @extend %padList;
        }
    }

    point > list > subparagraph:not(:first-child):not(:last-of-type) {
        padding-left: $LIST_SPACING;
    }

    level > list > .cke_editable > ol[data-akn-name=aknSubParagraphMandate] {
        padding-left: 0px;  // override default list padding
    }

    level > .cke_editable > ol[data-akn-name=aknSubParagraphMandate] {
        padding-left: 0px;  // override default list padding
    }
}

//------------------------------- Editor Styles -----------------------------//
%editorList {
    ol[data-akn-name=aknAnnexOrderedList] > li[data-akn-element=subparagraph]:first-child {
        margin-top: -7px;
    }

    ol[data-akn-name=aknAnnexList],
    ol[data-akn-name=aknOrderedList],
    ol[data-akn-name=aknSubParagraphMandate],
    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknAnnexOrderedList],
    ul[data-akn-name=UnNumberedBlockList],
    ol[data-akn-name=NumberedBlockList],
    li > ol,
    li > ul {
        list-style-type: none;
        margin: 0;        // override default list margin

        & > li {
            @extend %paddedText;
            ol > li:last-child {
                padding-bottom: 0;
            }
        }

        & > li[data-akn-num] {
            padding-left: $LIST_SPACING;
            position: relative;

            &:before {
                color: $GREY_COLOR;
                content: attr(data-akn-num);
                float: left;
                margin-left: -$LIST_SPACING;
            }
        }

        & > li[data-akn-tc-original-number][data-akn-action-number='delete']:not([data-akn-tc-original-number='UNNUMBERED']):not([data-akn-tc-original-number='NEW']) {
            padding-left: $LIST_SPACING;
            position: relative;

            &:before {
                content: attr(data-akn-tc-original-number);
                float: left;
                margin-left: -$LIST_SPACING;
                text-decoration: line-through;
            }
        }

        & > li.selectedMovedElement {
            @extend %moveSubElement;
        }
    }

    ol[data-akn-name=aknAnnexList],
    ol[data-akn-name=aknOrderedList],
    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknAnnexOrderedList],
    ul[data-akn-name=UnNumberedBlockList],
    ol[data-akn-name=NumberedBlockList],
    li > ol,
    li > ul {
        padding-left: 0px;  // override default list padding
    }

    ol[data-akn-name=aknAnnexOrderedList] {
        padding-bottom: 7px;
    }

    ol[data-akn-depth="5"],ol[data-akn-depth="6"],ol[data-akn-depth="7"] {
        & > li[data-akn-num] {
            &:before {
                min-width: 105px
            }
        }
    }

    ol[data-akn-depth="1"],ol[data-akn-depth="2"],ol[data-akn-depth="3"],ol[data-akn-depth="4"] {
        & > li[data-akn-num] {
            &:before {
                min-width: 67px
            }
        }
    }

    li[data-akn-name=aknNumberedParagraph] > ol[data-akn-name=aknOrderedList]{
        padding-left: $LIST_SPACING;
    }

    li[data-akn-name=aknNumberedParagraph]:not([data-akn-num]) > ol[data-akn-name=aknAnnexOrderedList] > li[data-akn-element=subparagraph] {
        margin-left: -$LIST_SPACING;
    }

    ol[data-akn-depth="1"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList]
    ,ol[data-akn-depth="2"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList]
    ,ol[data-akn-depth="3"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList]
    ,ol[data-akn-depth="4"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList] {
        padding-left: 27px;
    }

    ol[data-akn-depth="5"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList]
    ,ol[data-akn-depth="6"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList]
    ,ol[data-akn-depth="7"] > li[data-akn-element=level] > ol[data-akn-name=aknAnnexOrderedList] {
        padding-left: 65px;
    }
}


//------------------------------- Showblock Styles --------------------------//
%showblockList {
    ol[data-akn-name=aknPointMandateOrderedList],
    li > ol {
        & li {
            @include blockOutline("POINT", $LIST_SPACING);
        }
    }

    li > ol {
        & li[data-akn-num="-"] {
            @include blockOutline("INDENT", $LIST_SPACING);
        }
    }
}