@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$NUM_WIDTH: 40px;

//------------------------------- XML Styles --------------------------------//
%xmlParagraph {
    paragraph[leos\:origin='ec'] {
        //Second depth Point
        list > .cke_editable > ol[data-akn-name="aknPointMandateOrderedList"] {
            padding-left: 40px;
        }
    }
}

//------------------------------- Editor Styles -----------------------------//
%editorParagraph {
    ol[data-akn-name="aknAnnexList"][data-akn-element="paragraph"] {
        & > li {
            @extend %paddedText;
            &:before {
                content: none;
            }

            & > ol{
                padding-left: 40px;
            }

            & > p[data-akn-tc-original-number][data-akn-action-number='delete']:not([data-akn-tc-original-number='UNNUMBERED']):not([data-akn-tc-original-number='NEW']) {
                &:before {
                    content: attr(data-akn-tc-original-number);
                    min-width: $NUM_WIDTH;
                    float: left;
                    text-decoration: line-through;
                }
            }
        }

        & > li[data-akn-tc-original-number][data-akn-action-number='delete']:not([data-akn-tc-original-number='UNNUMBERED']):not([data-akn-tc-original-number='NEW']) {
            &:before {
                content: attr(data-akn-tc-original-number);
                min-width: $NUM_WIDTH;
                float: left;
                text-decoration: line-through;
            }
        }
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockParagraph {
    div[data-akn-name="level"] > p[data-akn-name="aknParagraph"] { // No showblocks for tables' cells content
        @include blockOutline("PARAGRAPH");
    }
}
