@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$LIST_PADDING: 1.5cm;
$LIST_SPACING: 40px;

%padList {
    display: block;
    position: relative;

    & > num {
        @extend %paddedText;
        display: block;
        min-width: $LIST_SPACING;
        float: left;
    }

    & > content {
        & > table {
            @extend %tableMargin;
        }
        & > p {
            @extend %paddedText;
            display: block;
        }
        & > aknP {
            @extend %paddedText;
            display: block;
            padding-left: $LIST_SPACING;
        }
    }
}


%paddedList {
    padding-top: 6pt;
    padding-bottom: 6pt;
}
//------------------------------- XML Styles --------------------------------//
%xmlList {
    blockList {
        display: block;
    }

    blockList > item {
        display: block;
        padding-left: $LIST_PADDING;
        @extend %paddedList;
        
        & > num {
            min-width: $LIST_PADDING;
            margin-left: -$LIST_PADDING;
            display: block;
            float: left;
        }

        & > aknP, & > p {
            display: block;
            position: relative;
        }
    }

    point, indent {
        @extend %padList;
    }
    crossHeading {
        @extend %paddedText;
    }
    list {
        point,
        indent {
            padding-left: $LIST_SPACING;
            @extend %padList;
        }
    }
    point > .cke_editable > ol[data-akn-name=aknSubParagraphMandate] {
        padding-left: $LIST_SPACING;
    }
}

//------------------------------- Editor Styles -----------------------------//
%list {
    list-style-type: none;
    padding-left: 0;  // override default list padding
    margin: 0;        // override default list margin

    & > li {
        @extend %paddedList;
        padding-left: $LIST_PADDING;
        position: relative;

        &:before {
            color: $GREY_COLOR;
            content: attr(data-akn-num);
            min-width: $LIST_PADDING;
            margin-left: -$LIST_PADDING;
            float: left;
        }
    }    
}
    
%editorList {
    ol[data-akn-name=aknAnnexOrderedList] > li[data-akn-element=subparagraph]:first-child {
        margin-top: -7px;
    }
    li[data-akn-element=paragraph]:not([data-akn-num]) > ol[data-akn-name=aknAnnexOrderedList] > li[data-akn-element=subparagraph]:first-child {
        margin-left: -40px;
    }

    ol[data-akn-name=aknAnnexList],
    ol[data-akn-name=aknOrderedList],
    ol[data-akn-name=aknSubParagraphMandate],
    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknAnnexOrderedList],
    ul[data-akn-name=UnNumberedBlockList],
    ol[data-akn-name=NumberedBlockList],
    li > ol,
    li > ul {
        list-style-type: none;
        padding-left: 0px;  // override default list padding
        margin: 0;        // override default list margin

        & > li {
            @extend %paddedText;
            ol > li:last-child {
                padding-bottom: 0;
            }
        }

        & > li[data-akn-num] {
            padding-left: $LIST_SPACING;
            position: relative;

            &:before {
                color: $GREY_COLOR;
                content: attr(data-akn-num);
                float: left;
                margin-left: -$LIST_SPACING;
            }
        }
    }

    ol[data-akn-name=aknAnnexOrderedList] {
        padding-bottom: 7px;
    }

    ol[data-akn-depth="5"],ol[data-akn-depth="6"],ol[data-akn-depth="7"] {
        & > li[data-akn-num] {
            &:before {
                min-width: 105px
            }
        }
    }

    ol[data-akn-depth="1"],ol[data-akn-depth="2"],ol[data-akn-depth="3"],ol[data-akn-depth="4"] {
        & > li[data-akn-num] {
            &:before {
                min-width: 67px
            }
        }
    }

    li[data-akn-name=aknNumberedParagraph] > ol[data-akn-name=aknOrderedList]{
        padding-left: $LIST_SPACING;
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockList {
    div[data-akn-name="blockContainer"] ul[data-akn-name="UnNumberedBlockList"] {
        & li {
            @include blockOutline("INDENT", $LIST_PADDING);
        }
    }

    div[data-akn-name="blockContainer"] ol[data-akn-name="NumberedBlockList"] {
        & li {
            @include blockOutline("POINT", $LIST_PADDING);
        }
    }
}
