@import 'node_modules/@eui/styles-base/src/styles/base';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host ::ng-deep {
  .toc-container {
    display: flex;
    flex-direction: column;
    font-size: 10px !important;
    max-height: 50vh;
    overflow: auto;
  }

  @include eui-scrollbars();

  .eui-label {
    white-space: normal;
  }

  .drop-placeholder {
    border: 2px dashed #aaaa;
    border-radius: 2rem;
    box-shadow: 0 0 0 rgb(0 0 0 / 20%), 0 0 4px rgb(0 0 0 / 20%),
      0 0 6px rgb(0 0 0 / 20%), 0 0 8px rgb(0 0 0 / 20%);
    display: none;
    height: 0;
    margin: 0;
    opacity: 0.3;
    padding: 0;
  }

  .cdk-drag-placeholder {
    opacity: 1;
    pointer-events: initial;
    -webkit-tap-highlight-color: initial;
    touch-action: initial;
    -webkit-user-drag: initial;
    user-select: initial;
  }

  .leos-soft-removed,
  .leos-soft-num-removed,
  .leos-soft-movedto {
    color: #a7a7a7;
    text-decoration: line-through;
  }

  .leos-soft-new,
  .leos-soft-num-new,
  .leos-soft-movedfrom span {
    font-weight: bold;
  }

  .leos-soft-move-label {
    background-color: #808080;
    cursor: pointer;
    height: 18px;
    padding: 2px 5px;
  }

  .leos-soft-move-label,
  .leos-transparent-soft-move-label {
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    line-height: 1;
    margin: 0 2px;
    text-decoration: none !important;
  }

  .leos-soft-move-label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 16px;
    padding: 2px;
  }
}

.tree-container {
  flex-grow: 7;
  overflow: auto;

  @include eui-scrollbars();
}

.selected-node {
  background-color: #7bd2f6 !important;
  border-radius: 2rem;
  max-width: fit-content;
}

.label {
  display: inline-block;
  flex-grow: 1;
  font-size: var(--eui-base-font-size-s) !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-extended {
  font-size: var(--eui-base-font-size-s) !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

mat-tree {
  background-color: transparent !important;
}

mat-nested-tree-node {
  display: flex;
  flex-direction: column;
  max-width: inherit;
}

mat-nested-tree-node.cdk-drag-preview .mat-tree-node {
  max-width: 400px;

  .node-li {
    max-width: fit-content;
  }

  app-node-toc-actions {
    display: none;
  }
}

.mat-tree-node {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 24px !important;
}

.eui-dropdown {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-width: 0 0 1px 1px;
  position: relative;
}

li ul {
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  margin-left: -41px;
}

.drop-as_children {
  border: 1px solid var(--eui-base-color-primary-120);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-before {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-primary);
  max-width: fit-content;
}

.drop-after {
  border-bottom: 1px solid var(--eui-base-color-primary);
  border-radius: 2rem;
  max-width: fit-content;
}

.drop-as_children-invalid {
  border: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  position: relative;
  transition: all 1s;
}

.drop-after-invalid {
  border-bottom: 1px solid var(--eui-base-color-danger);
  border-radius: 2rem;
  max-width: fit-content;
  transition: all 1s;
}

.drop-before-invalid {
  border-radius: 2rem;
  border-top: 1px solid var(--eui-base-color-danger);
  max-width: fit-content;
  transition: all 1s;
}

.invalid-node {
  color: var(--eui-base-color-danger);
}

::ng-deep
  .cdk-overlay-container
  .cdk-overlay-pane.mat-tooltip-panel
  .mat-tooltip:hover {
  display: none;
}
