<div class="toc-container">
  <div id="treeContainer" class="tree-container" cdkScrollable #treeContainer>
    <mat-tree
      id="tree"
      cdkDropList
      #tree="cdkDropList"
      *ngIf="isVisible"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListSortingDisabled]="true"
      [cdkDropListDisabled]="!isEditMode"
    >
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.shouldRenderNode"
        (cdkDragMoved)="dragMoved($event)"
        [attr.data-id]="node.id"
        *matTreeNodeDef="let node"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        [cdkDragData]="node"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEditMode || !node.tocItem.draggable"
      >
        <div class="drop-placeholder"></div>

        <li class="node-li" *ngIf="shouldBeVisible(node)">
          <app-co-edition-info *ngIf="shouldBeVisible(node)" [nodeId]="node.id"></app-co-edition-info>
          <div
            class="mat-tree-node"
            [class]="{ 'selected-node': selectedNode?.id === node.id }"
            (click)="handleNodeSelect(node)"
          >
            <eui-icon-svg
              size="s"
              icon="eui-chevron-forward"
              class="eui-u-visibility-hidden"
            ></eui-icon-svg>
            <div
              [id]="'node-label-' + node.id"
              [class]="'label' + ' ' + getNodeStyling(node)"
              [innerHTML]="getNodeLabel(node.label)"
              [euiTooltip]="getNodeTooltip(node)"
              [position]="
                isLabelTextMoreThanOneLine(node.label) ? 'right' : 'above'
              "
            ></div>
            <app-toc-action-menu [node]="node"> </app-toc-action-menu>
          </div>
        </li>
        <div class="drop-placeholder"></div>
      </mat-nested-tree-node>
      <mat-nested-tree-node
        cdkScrollable
        [hidden]="!node.shouldRenderNode && !hasChildren"
        *matTreeNodeDef="let node; when: hasChildren"
        cdkDrag
        cdkDropList
        matTreeNodePadding
        [attr.data-id]="node.id"
        [cdkDragData]="node"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListSortingDisabled]="true"
        [cdkDropListDisabled]="!isEditMode"
      >
        <div *ngIf="node.shouldRenderNode" class="drop-placeholder"></div>

        <li *ngIf="node.shouldRenderNode">
          <app-co-edition-info [nodeId]="node.id"></app-co-edition-info>
          <div
            (click)="handleNodeSelect(node)"
            class="mat-tree-node"
            [class]="{ 'selected-node': selectedNode?.id === node.id }"
          >
            <eui-icon-svg
              size="s"
              *ngIf="!treeControl.isExpanded(node)"
              icon="eui-chevron-forward"
              (click)="nodeExpanded(node)"
            ></eui-icon-svg>
            <eui-icon-svg
              size="s"
              *ngIf="treeControl.isExpanded(node)"
              icon="eui-chevron-down"
              (click)="nodeCollapsed(node)"
            ></eui-icon-svg>
            <div
              [id]="'node-label-' + node.id"
              [class]="'label-extended' + ' ' + getNodeStyling(node)"
              (click)="handleNodeSelect(node)"
              [innerHTML]="getNodeLabel(node.label)"
              [euiTooltip]="getNodeTooltip(node)"
              [position]="
                isLabelTextMoreThanOneLine(node.label) ? 'right' : 'above'
              "
            ></div>
            <app-toc-action-menu [node]="node"> </app-toc-action-menu>
          </div>
          <ul class="">
            <div *ngIf="treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </ul>
        </li>
        <div *ngIf="node.shouldRenderNode" class="drop-placeholder"></div>
        <ul *ngIf="!node.shouldRenderNode" class="">
          <div>
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </ul>
      </mat-nested-tree-node>
    </mat-tree>

    <!-- selected element show -->
  </div>
  <div class="eui-u-display-flex eui-u-flex-column eui-u-p-xs eui-u-font-s" *ngIf="isEditMode && !isTreeValidationWarning">
    <span
      euiLabel
      [euiDanger]="!isDropValid"
      [euiSuccess]="isDropValid"
      euiSizeL
      class="text-wrap"
      [innerHTML]="messageFromValidation"
    ></span>
  </div>
  <ul *ngIf="isTreeValidationWarning">
    <li *ngFor="let warning of warningMessagesFromValidation">
      <div class="eui-u-display-flex eui-u-flex-column eui-u-p-xs eui-u-font-xs eui-u-border-bottom-separator eui-u-border-state-warning">
      <span euiLabel
            [euiWarning]="isTreeValidationWarning"
            euiSizeS
            class="text-wrap"
            [innerHTML]="warning">
      </span>
      </div>
    </li>
  </ul>
  <app-confirm-delete-dialog
    #deleteTocConfirmation
    [title]="'toc.edit.window.item.selected.delete-dialog.title' | translate"
    [description]="
      'toc.edit.window.item.selected.delete-dialog.desc' | translate
    "
  ></app-confirm-delete-dialog>
</div>
