<table
  class="eui-u-mt-m"
  euiTable
  euiTableResponsive
  [rows]="exportDocuments ?? []"
>
  <ng-template euiTemplate="header">
    <tr>
      <th>
        {{ 'page.collection.drafts.exports.table.title' | translate }}
      </th>
      <th>
        {{ 'page.collection.drafts.exports.table.date' | translate }}
      </th>
      <th>
        {{ 'page.collection.drafts.exports.table.status' | translate }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template let-row euiTemplate="body">
    <tr>
      <td class="eui-u-display-flex eui-u-flex-column">
        <span euiLabel>{{ row.comments[0] }}</span>
        <span euiSublabel class="eui-u-mt-xs eui-u-ml-xs" euiLabel>{{
            row.comments[1]
          }}</span>
        <span euiSublabel class="eui-u-mt-xs eui-u-ml-l" euiLabel>{{
            row.comments[2]
          }}</span>
      </td>
      <td>{{ row.date | date : 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ row.status }}</td>
      <td>
        <eui-dropdown>
          <button
            euiButton
            euiRounded
            euiIconButton
            euiBasicButton
            euiSecondary
            euiTooltip="Menu"
            [attr.aria-label]="'Menu'"
          >
            <eui-icon-svg icon="eui-ellipsis-vertical"></eui-icon-svg>
          </button>
          <eui-dropdown-content>
            <ng-container>
              <button
                euiDropdownItem
                class="eui-u-p-xs"
                (click)="openEditExportDialog(row)"
              >
                {{ 'page.collection.exports.table.actions.edit' | translate }}
              </button>
            </ng-container>
            <button
              euiDropdownItem
              class="eui-u-p-xs"
              (click)="handleNotifyExport(row.id)"
            >
              {{
                'page.collection.exports.table.actions.re-export' | translate
              }}
            </button>
            <button
              euiDropdownItem
              class="eui-u-p-xs"
              (click)="handlePreviewExport(row.id)"
            >
              {{
                'page.collection.exports.table.actions.preview' | translate
              }}
            </button>
            <button
              euiDropdownItem
              euiDanger
              class="eui-u-p-xs"
              (click)="handleDeleteExport(row)"
            >
              {{ 'global.actions.delete' | translate }}
            </button>
          </eui-dropdown-content>
        </eui-dropdown>
      </td>
    </tr>
  </ng-template>
</table>

<app-confirm-delete-dialog
  #confirmationForDelete
  [title]="
    this.translateService.instant(
      'page.collection.exports.table.actions.delete-dialog.title'
    )
  "
  [description]="
    this.translateService.instant(
      'page.collection.exports.table.actions.delete-dialog.description'
    )
  "
  (confirmDeletion)="hanldeConfirmationDelete()"
></app-confirm-delete-dialog>

<eui-dialog
  #editTitleExport
  [title]="'page.collection.exports.table.dialog.edit-title.title' | translate"
>
  <div euiInputGroup class="eui-u-flex-row eui-u-flex-align-items-center">
    <label class="label">
      {{ 'page.collection.drafts.annex.title-dialog.label' | translate }}</label
    >
    <input euiInputText [(ngModel)]="titleToEdit"/>
  </div>
  <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button euiButton euiSecondary (click)="closeEditExportDialog()">
        {{ 'page.collection.drafts.annex.title-dialog.cancel' | translate }}
      </button>
      <button
        euiButton
        euiPrimary
        class="save-button"
        (click)="handleTitleChange()"
      >
        <span>{{
            'page.collection.drafts.annex.title-dialog.save' | translate
          }}</span>
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
