<ng-container *ngIf="shouldShowIcon">
  <eui-card
    euiCollapsible="true"
    euiCollapsed="false"
    class="eui-u-shadow-1 eui-u-shadow-z-depth-1 card-container"
  >
    <eui-card-header>
      <eui-card-header-title class="label-icon-container">
        <eui-icon-svg [icon]="icon"></eui-icon-svg>
        <span>{{ labelKey | translate }}</span>
      </eui-card-header-title>
      <eui-card-header-right-content> </eui-card-header-right-content>
      <eui-card-header-body> </eui-card-header-body>
    </eui-card-header>

    <eui-card-content>
      <div class="proposals-list-container">
        <ng-container *ngFor="let package of displayedPackages; let i = index">
          <app-proposal-item-home-card
            [package]="package"
          ></app-proposal-item-home-card>
        </ng-container>
      </div>
    </eui-card-content>
  </eui-card>
  <eui-paginator
    #paginatorComponentPackages
    [pageSize]="packagesPageSize"
    [length]="packages?.length"
    class="eui-u-pv-2xs pagination"
    (pageChange)="handlePackagePagerChange($event)"
  ></eui-paginator>
</ng-container>
<ng-container *ngIf="!shouldShowIcon">
  <eui-card class="card-container eui-u-shadow-1">
    <eui-card-header>
      <eui-card-header-title>
        <div
          class="search-total-results eui-u-flex eui-u-flex-justify-content-between eui-u-flex-align-items-center"
        >
          <div>
            <div>
              {{ totalResults$ | async }}
              {{ 'page.home.results.found' | translate }}
            </div>
          </div>
          <div class="sort-btn">
            <span>{{ 'page.home.sort-by' | translate }} </span>
            <button euiButton>
              <span euiLabel>{{ 'page.home.sort.date' | translate }}</span>
              <eui-icon-svg icon="eui-caret-down"></eui-icon-svg>
            </button>
            <button euiButton (click)="toggleSortOrder()">
              <eui-icon-svg
                [icon]="sortOrder ? 'eui-arrow-down' : 'eui-arrow-up'"
              ></eui-icon-svg>
            </button>
          </div>
        </div>
      </eui-card-header-title>
      <eui-card-header-right-content> </eui-card-header-right-content>
      <eui-card-header-body> </eui-card-header-body>
    </eui-card-header>

    <eui-card-content>
      <div class="proposals-list-container">
        <ng-container
          *ngFor="
            let proposal of proposals;
            trackBy: trackProposal;
            let i = index
          "
        >
          <app-proposal-item-home-card
            [proposal]="proposal"
            [status]="geContributionStatus(proposal)"
            [originRef]="proposal.cloneProposalMetadataVO?.originRef ?? null"
          ></app-proposal-item-home-card>
        </ng-container>
      </div>
    </eui-card-content>
  </eui-card>
  <eui-paginator
    #paginatorComponent
    [pageSize]="limit$ | async"
    [length]="totalResults$ | async"
    (pageChange)="handlePagerChange($event)"
  ></eui-paginator>
</ng-container>
