.label-icon-container {
  display: flex;
}

.proposals-list-container {
  margin-top: -32px;
}

.search-total-results {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 642px) {
  .total-results-sort {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .total-results-sort {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
