.ribbon-toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  overflow: hidden;
}

.ribbon-toolbar-content {
  border-radius: 8px;
  margin: 0.1rem !important;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  .scroll-button {
    position: fixed;
    top: 40%;
  }

  .scroll-button-left {
    @extend .scroll-button;

    left: 0;
  }

  .scroll-button-right {
    @extend .scroll-button;

    right: 0;
  }
}
