<header>
  <div class="eui-u-flex eui-u-flex-justify-content-between" style="align-items: flex-start !important;">
    <h1
      class="eui-u-flex-grow eui-u-font-2xl"
      style="padding-right: 15px; margin: 0px"
      [innerHTML]="title"
    ></h1>
    <div style="display: flex; align-content: center; align-items: center;">
      <eui-icon-svg
        (click)="toggleFavourite()"
        style="cursor: pointer"
        [icon]="isFavourite ? 'eui-bookmark' : 'eui-bookmark-outline'"
      ></eui-icon-svg>
      <app-proposal-actions-dropdown
        [proposalState]="this.proposalState"
        [permissions]="permissions"
        [nonEditablePartOfTitle]="nonEditablePartOfTitle"
        [editableTitle]="editableTitle"
        [isClonedProposal]="isClonedProposal"
        [originRef]="originRef"
        class="eui-u-ml-s"
      ></app-proposal-actions-dropdown>
      <button
        class="eui-u-ml-s"
        euiButton
        euiSizeS
        euiPrimary
        translate="global.actions.close"
        *ngIf="collectionCloseButtonEnabled"
        (click)="handleClose()"
      ></button>
    </div>
  </div>
</header>
<header
  *ngIf="isClonedProposal"
  class="eui-u-flex eui-u-flex-align-items-start eui-u-mb-l"
>
  <eui-chip euiSize2XL class="eui-u-mr-2xs eui-u-mb-2xs">
    <span euiLabel>{{
      'page.collection.proposal-header.contribution' | translate
    }}</span>
  </eui-chip>
  <eui-chip *ngIf="originRef" euiSize2XL class="eui-u-mr-2xs eui-u-mb-2xs">
    <span euiLabel>{{ originRef }}</span>
  </eui-chip>
</header>
