@import 'node_modules/@eui/styles-base/src/styles/02-base/functions/module';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

:host > div:first-child {
  display: flex;
  flex: 1 1 0; // take all available space but use scrollbars when necessary
  overflow: auto;
  width: 100%;
  @include eui-scrollbars();
}

:host ::ng-deep {
  $border: 1px solid black;

  akomantoso {
    margin-left: auto;
    margin-right: auto;
  }

  akomantoso i {
    font-style: italic;
  }

  akomantoso > coverpage {
    border: $border;
  }

  akomantoso > * > * {
    margin-right: 12px;
  }

  akomantoso > doc[name='STAT_DIGIT_FINANC_LEGIS'] > {
    :not(mainbody) {
      border-left: $border;
      border-right: $border;
    }

    :not(mainbody):first-child {
      border-top: $border;
    }

    :not(mainbody):last-child {
      border-bottom: $border;
      border-top: $border;
    }

    mainbody > * {
      border-left: $border;
      border-right: $border;
    }

    mainbody > .landscape {
      border-bottom: $border;
      border-top: $border;
    }

    mainbody > .landscape + .portrait {
      border-top: $border;
    }

    mainbody > .portrait:has(+ .landscape) {
      border-bottom: $border;
    }

    mainbody > * {
      //border: $border;
    }
  }

  akomantoso > *:not(coverpage):not(doc[name='STAT_DIGIT_FINANC_LEGIS']) {
    padding: 1px;
  }

  akomantoso > *:not(coverpage):not(doc[name='STAT_DIGIT_FINANC_LEGIS']) > {
    * {
      border-left: $border;
      border-right: $border;
    }

    :first-child,
    coverpage + * {
      border-top: $border;
    }

    :last-child,
    coverpage {
      border-bottom: $border;
    }
  }

  // counter `a:not(eui-breadcrumb-item a)`
  akomantoso aknp a {
    text-decoration: underline;
  }

  akomantoso button.ui-datepicker-trigger {
    background-color: rgb(239 239 239);
    border: none;
    border-radius: 2px;
    margin-left: 2px;
    outline: 1px solid rgb(0 0 0 / 20%);
    padding: 0 4px;

    &:hover {
      background-color: rgb(220 220 220);
      outline-color: rgb(0 0 0 / 40%);
    }
  }
}
