<div
  [id]="mainContainerId"
  class="main-container"
  [ngClass]="containerClass"
  [ngStyle]="{ 'padding-left': paddingLeft }"
>
  <div
    [id]="containerId"
    class="document-container"
    [ngStyle]="documentStyle"
    #container
  >
    <!-- Document xml goes here -->
  </div>
</div>
<app-track-changes-actions></app-track-changes-actions>
