@import 'src/app/shared/components/akn-document/akn-document.component';

.toc-edit-mode,
.toc-edit-mode akomantoso {
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.contribution-disabled-mode,
.contribution-disabled-mode akomantoso {
  cursor: default;
  opacity: 0.3;
  user-select: none;
}

.document-container {
}

.document-content {
  position: relative;
  transform-origin: top left;
}

.main-container {
}
