<ng-container class="mr-2">
  <div class="eui-u-display-flex eui-u-flex-wrap" *ngIf="isEditMode">
    <button
      euiButton
      euiBasicButton
      euiSizeS
      class="eui-u-p-none"
      (click)="onExpandAll()"
    >
      <eui-icon-svg
        *ngIf="isEditMode"
        [euiTooltip]="
          (isCollapseToc
            ? 'page.editor.toc.toc-pane.actions.expandAll'
            : 'page.editor.toc.toc-pane.actions.collapseAll'
          ) | translate
        "
        [position]="'right'"
        size="s"
        icon="eui-sitemap"
      ></eui-icon-svg>
    </button>
    <!-- Undo -->
    <span
      *ngIf="!isUndoDisabled"
      [euiTooltip]="'global.actions.undo' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="eui-u-p-none"
        euiSizeS
        [euiTooltip]="'global.actions.undo' | translate"
        [disabled]="isUndoDisabled"
        (click)="onUndo()"
      >
        <div class="eui-u-display-flex eui-u-flex-row">
          <eui-icon-svg size="s" icon="eui-undo"></eui-icon-svg>
        </div>
      </button>
    </span>
    <!-- Save -->
    <span
      *ngIf="!isSaveDisabled"
      [euiTooltip]="'global.actions.save' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="eui-u-p-none"
        euiSizeS
        [euiTooltip]="'global.actions.save' | translate"
        [disabled]="isSaveDisabled"
        (click)="onSave()"
      >
        <img src="assets/images/toc-save.png" alt="" />
      </button>
    </span>
    <!-- Save and close -->
    <span
      *ngIf="!isSaveDisabled"
      [euiTooltip]="'global.actions.save-close' | translate"
    >
      <button
        euiButton
        euiBasicButton
        class="eui-u-p-none"
        euiSizeS
        [euiTooltip]="'global.actions.save-close' | translate"
        [disabled]="isSaveDisabled"
        (click)="onSaveAndClose()"
      >
        <img src="assets/images/toc-save-close.png" alt="" />
      </button>
    </span>
    <!-- Cancel -->
    <button
      euiButton
      euiSizeS
      [euiTooltip]="'global.actions.cancel' | translate"
      euiBasicButton
      class="eui-u-p-none"
      (click)="onCancel()"
    >
      <eui-icon-svg icon="eui-close"></eui-icon-svg>
    </button>
    <!-- Warning icon -->
    <span *ngIf="isShowWarning">
      <button
        euiButton
        euiBasicButton
        class="eui-u-p-none"
        euiSizeS
        [euiTooltip]="getWarningMessages()"
        contentAlignment="left"
        [euiAccent]="true"
      >
        <eui-icon-svg icon="eui-ecl-warning" set="eui" size="s" class="eui-u-color-accent-75"></eui-icon-svg>
      </button>
    </span>
  </div>
</ng-container>
