:host ::ng-deep {
  .ux-tree__node--disabled {
    opacity: 0.7;
  }

  .eui-tree-node[title='empty-category'] button[cdktreenodetoggle],
  .eui-tree-node[title='template'] button[cdktreenodetoggle] {
    // hide empty category or extra template toggle icon, while keeping indentation
    visibility: hidden;
  }

  .eui-tree.eui-tree--show-lines.eui-tree--with-children div.eui-li-rep.eui-tree-node.eui-tree-node--with-child:before {
    display: none;
  }

  .eui-tree.eui-tree--show-lines.eui-tree--with-children div.eui-ul-rep:before {
    display: none;
  }

  .eui-tree.eui-tree--show-lines.eui-tree--with-children div.eui-li-rep.eui-tree-node:not(.eui-tree-node--with-child):before {
    display: none;
  }

  .eui-input-group-addon > :not(:first-child) .eui-input-text--clearable {
    // fix eui-input-group-addon with euiClearable
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
  }

  /*
   * Style the search icon like the mockups
   */

  .eui-input-group-addon .eui-input-text {
    border-left: none;
  }

  .eui-input-group-addon-item {
    background: none;
  }

  .eui-input-group-addon-item .eui-icon-svg {
    color: var(--eui-base-color-grey-35);
  }

  .ux-tree__node-label-wrapped:focus,
  .ux-tree__node-label-wrapped:hover {
    // Remove link styling from nodes
    text-decoration: none;
  }
}
