<div
  class="notification-container eui-u-shadow-8"
  *ngIf="isNotificationsShown"
  appHideOnClickOutside
  [ignoreClickOn]="['.eui-dialog-container', '.eui-icon-times']"
  (appClickOutside)="closeNotifications()"
>
  <div class="notification-layout">
    <div class="header-container">
      <div>
        <span style="font-weight: bolder">{{
          'page.home.notifications.notification' | translate
          }}</span>
      </div>
      <div class="right-side-header">
        <button
          *ngIf="canUpload"
          euiButton
          euiPrimary
          euiSizeS
          (click)="openNotificationUploadDialog()"
        >
          <span style="font-weight: bolder">{{
            'page.workspace.upload.notification.button.text' | translate
            }}</span>
        </button>
        <a style="font-weight: bolder" (click)="toggleNotificationVisibility()"
        ><span style="font-weight: bolder">{{
          'global.actions.hide' | translate
          }}</span></a
        >
        <span class="eui-icon eui-icon-angle-right"></span>
      </div>
    </div>
    <div class="header-content-divider"></div>
    <div class="list-container">
      <div *ngFor="let notification of notifications; let i = index">
        <app-notification-card
          [notification]="notification"
        ></app-notification-card>
      </div>
    </div>
  </div>
</div>
