@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$HEADER_BLUE:#0065A2;
$ACTION_BORDER:#ADBDCE;
$ACTION_BACKGROUND:#FFFAFF;
$GREY_COLOR: #808080;
$GREEN_COLOR:#2c9720;
$RED_COLOR:#ed473b;
$CORN_FLOWER_BLUE:#6495ed;
$LIGHT_GREY: #A7A7A7;
$BLACK_COLOR: #000000;
$SKY_BLUE: #7bd2f6;
$DARK_BLUE: #0066a5;
$BLACK : #000000;

%elementActions {

    %elementEditable {
        border: solid 1px transparent;
        margin: 0 -5px;
        padding: 0px 5px;
        min-height: auto;
    }

    %contentEditable {
        background-color: $ACTION_BACKGROUND;
        border-color: $ACTION_BORDER;
    }

    [leos\:editable=true],
    [leos\:optional=true],
    .leos-placeholder {
        @extend %elementEditable;
    }

    [leos\:optional=true] {
        padding-bottom: 5px;
    }

    article {
        @extend %elementEditable;
    }

    article.leos-editable-content {
        @extend %contentEditable;
    }

    article[leos\:origin='ec'] {
        .leos-editable-content, paragraph.leos-editable-content {
            @extend %contentEditable;
        }
        paragraph:not(.selectable-element-paragraph), alinea {
            @extend %elementEditable;
        }
        subparagraph {
            @extend %elementEditable;
            display: block;
        }
        point {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
            & > subparagraph {
                @extend %elementEditable;
            }
        }
        indent {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
        }
        heading {
            @extend %elementEditable;
            @extend %paddedText;
        }

    }

    part, aknTitle, chapter, section, division {
        heading {
            @extend %elementEditable;
        }
    }

    block {
        @extend %elementEditable;
    }

    crossheading {
        @extend %elementEditable;
    }

    citations[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        citation {
            @extend %elementEditable;
        }
    }

    recitals[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        recital {
            @extend %elementEditable;
        }
    }

    level {
        @extend %elementEditable;
    }

    level[leos\:origin='ec'] {
        .leos-editable-content {
            @extend %contentEditable;
        }
        num {
            border: solid 1px transparent;
            min-height: auto;
            display: block;
        }
        & > content {
            @extend %elementEditable;
        }
        subparagraph {
            @extend %elementEditable;
            display: block;
        }
        point {
            @extend %elementEditable;
            & > subparagraph{
                @extend %elementEditable;
            }
            & > list > point{
                padding-left: 45px;
            }
        }
        indent {
            @extend %elementEditable;
            padding-left: 45px;
            & > subparagraph{
                @extend %elementEditable;
            }
        }
        heading {
            @extend %elementEditable;
            padding: 7px 0 0 5px;
        }
        alinea {
             @extend %elementEditable;
        }
    }

    division {
        .leos-editable-content {
            @extend %contentEditable;
        }
        num {
            @extend %elementEditable;
            width: 78px;
        }
        heading {
            @extend %elementEditable;
            padding: 7px 0 0 5px;
            width: 540px;
        }
    }

    paragraph {
        @extend %elementEditable;
    }

    paragraph {
        .leos-editable-content {
            @extend %contentEditable;
        }
        subparagraph {
            @extend %elementEditable;
            display: block;
        }
        point {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
            subparagraph{
                @extend %elementEditable;
            }
        }
        indent {
            @extend %elementEditable;
            padding: 0 5px 0px 45px;
            subparagraph{
                @extend %elementEditable;
            }
        }
        alinea, heading {
            @extend %elementEditable;
        }
    }

    .leos-placeholder {
        border-color: $ACTION_BORDER;
    }

    .leos-editable-content {
        @extend %contentEditable;
    }

    .leos-actions, .leos-actions-icon {
        position: absolute;
        width: 20px;
        user-select: none;
        color: $HEADER_BLUE;
        grid-column: 1;
        * {
            margin-top: 3px;
            cursor: pointer;
            display: none;
            font-weight: normal;
        }
    }

    %contributionAction {
        padding-right: 2px;
        font-size: small;
        color: black;
        > img {
            border: none;
        }
    }

    %mergeContributionWrapper {
        border: medium dotted $GREY_COLOR;
        margin-bottom: 5px;
        margin-left: 1px;
        margin-right: 7px;
        width: 100%;
        background-color: white !important;
    }

    %contributionWrapperAfterMerge {
        background-color: rgba(166, 166, 166, .8) !important;
        [leos\:mergeAction]:not([leos\:mergeAction=UNSELECT]):not([leos\:selectedAction]),
        ins,
        del,
        num {
            background-color: rgba(166, 166, 166, 0) !important;
        }
    }

    %selectedContributionWrapper {
        background-color: #E1EFFE !important;
        border-color: #ADB4BB;
    }

    [leos\:mergeAction]:not([leos\:mergeAction=UNSELECT]):not([leos\:selectedAction]) {
        @extend %contributionWrapperAfterMerge;
    }

    .merge-contribution-wrapper[leos\:mergeAction]:not([leos\:mergeAction=UNSELECT]):not([leos\:selectedAction]):not(list) {
        border: #8c8c8c thin solid;
    }

    [leos\:selectedAction] {
        @extend %selectedContributionWrapper;
    }

    div.merge-actions-wrapper {
        position: absolute;
        * {
            text-decoration: none !important;
            text-decoration-line: none !important;
        }
        > .merge-actions {
            display: inline-block;
            float: right;
            cursor: pointer;
            > .accepted, > .accepted_tc, > .processed, > .undo {
                @extend %contributionAction;
            }
        }
        > .merge-actions-icon {
            width: 20px;
            user-select: none;
            color: $BLACK;
            grid-column: 1;
            cursor: pointer;
            * {
                margin-top: 3px;
                cursor: pointer;
                display: none;
                font-weight: normal;
            }
        }
        [data-widget-type="show.all.actions"] {
            display: inline-block;
        }
        [data-widget-type='undo'] {
            display: none;
        }
        [data-widget-type='accepted'] {
            display: none;
        }
        [data-widget-type='accepted_tc'] {
            display: none;
        }
        [data-widget-type='processed'] {
            display: none;
        }
    }

    div.selectedAccept {
        [data-widget-type="show.all.actions"] {
            display: none;
        }
        [data-widget-type='undo'] {
            display: inline-block;
        }
        [data-widget-type='accepted'] {
            display: inline-block;
        }
        [data-widget-type='accepted_tc'] {
            display: none;
        }
        [data-widget-type='processed'] {
            display: none;
        }
    }

    div.selectedAcceptTc {
        [data-widget-type="show.all.actions"] {
            display: none;
        }
        [data-widget-type='undo'] {
            display: inline-block;
        }
        [data-widget-type='accepted'] {
            display: none;
        }
        [data-widget-type='accepted_tc'] {
            display: inline-block;
        }
        [data-widget-type='processed'] {
            display: none;
        }
    }

    div.selectedProcessed {
        [data-widget-type="show.all.actions"] {
            display: none;
        }
        [data-widget-type='undo'] {
            display: inline-block;
        }
        [data-widget-type='accepted'] {
            display: none;
        }
        [data-widget-type='accepted_tc'] {
            display: none;
        }
        [data-widget-type='processed'] {
            display: inline-block;
        }
    }

    div.selectedUndo {
        [data-widget-type="show.all.actions"] {
            display: none;
        }
        [data-widget-type='undo'] {
            display: inline-block;
        }
        [data-widget-type='accepted'] {
            display: none;
        }
        [data-widget-type='accepted_tc'] {
            display: none;
        }
        [data-widget-type='processed'] {
            display: none;
        }
    }

    .merge-contribution-wrapper {
        @extend %mergeContributionWrapper;
    }

    container.merge-contribution-wrapper {
        @extend %mergeContributionWrapper;
        display: inline-block;
    }

    list.merge-contribution-wrapper {
        @extend %mergeContributionWrapper;
        display: inline-grid;
    }
}