@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- XML Styles --------------------------------//
%xmlArticlePointSubParagraph {
    indent > subparagraph, point > subparagraph, indent > list > subparagraph, point > list > subparagraph {
        display: block;

        & > content > aknP, & > content > p {
            @extend %paddedText;
            display: block;
        }
        & > content > aknP{
            padding-left: 40px;
        }
    }
}

//------------------------------- Editor Styles -----------------------------//
%editorArticlePointSubParagraph {
    li > ol > li {  
        & > p:first-child {
           padding-top: 0;
        }
        & > p {
           @extend %paddedText;
        }
        & > p:last-child {
           padding-bottom: 0;
        }
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockArticlePointSubParagraph {
    li > ol > li {
        & > p {
           @include blockOutline("SUBPARAGRAPH");
        }
    }
}
