@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$NUM_WIDTH: 40px;

//------------------------------- XML Styles --------------------------------//
%xmlArticleParagraph {
  paragraph {
    display: block;
    position: relative;

    & > num {
      @extend %simpleText;
      display: block;
      min-width: $NUM_WIDTH;
      float: left;
      padding-top: 6pt;
      padding-left: 3px;
    }

    num[leos\:softaction="del"],
    num[leos\:softaction="del_trans"] {
      text-decoration: line-through;
      color: $LIGHT_GREY;
    }

    num[leos\:softaction="add"] {
      font-weight: bolder;
    }

    & > content {
      clear: both;

      & > table {
        @extend %tableMargin;
      }

      & > aknP, & > p {
        @extend %paddedText;
        display: block;
      }
    }
  }
}

%tocArticleParagraph {
  paragraph {
    & > num {
      @extend %clearTopText;
    }

    & > content {
      & > aknP, & > p {
        @extend %clearTopText;
      }
    }
  }
}

//------------------------------- Editor Styles -----------------------------//
%editorArticleParagraph {
  article > ol {
    list-style-type: none;
    padding-left: 0; // override default list padding
    margin: 0; // override default list margin

    & > li {
      @extend %paddedText;

      &:not([data-akn-action-enter='delete']):not([data-akn-action-number='delete']):before {
        color: $GREY_COLOR;
        content: attr(data-akn-num);
        min-width: $NUM_WIDTH;
        float: left;
      }
    }

    & > li[data-akn-num-id*="deleted"] {
      &:before {
        text-decoration: line-through;
        content: attr(data-akn-num);
      }
    }

    & > li.selectedMovedElement {
      @extend %moveSubElement;
    }
  }
}

//------------------------------- Showblock Styles --------------------------//
%showblockArticleParagraph {
  article > ol > li {
    @include blockOutline("PARAGRAPH");

    & > p, & > ol, & > table { //LEOS-2333. Only set margin for specific elements not on inline elements
      margin-left: $NUM_WIDTH;
    }
  }
}
