@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//-------------------------XML AuthorialNote-----------------------------------/
%xmlAuthorialNote {

    authorialNote[marker] {
        display: inline-block;
        font-size: 0.8em;
        line-height: 0.8em;
        vertical-align: baseline;
        position: relative;
        bottom: 0.5em;
        cursor: pointer;
        font-weight: bold;
        color: blue;
              

        &:before {
            content: attr(marker);
            display: inline;
        }

        &:hover {
            & > aknp,
            & > aknp:before,
            & > p,
            & > p:before {
                display: block;
            }
        }

        & > aknp,
        & > p {
            display: none;
            bottom: 0;
            position: absolute;
            color: black;
            background-color: white;
            border: blue 1px solid;
            border-radius: 7px;
            padding: 5px 15px;
            left: -1.5em;
            margin-bottom: 1.75em;
            white-space: nowrap;

            &:before {
                bottom: 0;
                position: absolute;
                content: "";
                border-top: 0.6em solid blue;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                left: 1.25em;
                margin-bottom: -0.6em;
            }
        }
    }
}

//-------------------------Editor AuthorialNote-------------------------------/
%editorAuthorialNote {
    span .authorialnote {
        font-size: 0.8em;
        line-height: 0.8em;
        font-weight: bold;
        color: blue;
        vertical-align: super;
    }
}
