@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- XML Styles --------------------------------//
$BLUE: blue;
%xmlChangeDetails {

    %ChangeDetailsText {
        text-decoration: none;
        display: inline-block;
        color: $BLUE;
    }

    .change-details-block {
        display: inline-block;
        color: $BLUE;
        font-weight: normal;
        font-size: 9pt;
    }

    .leos-content-removed[leos\:softaction="move_to"],
    .leos-content-removed[leos\:softaction="del"],
    .leos-content-removed[leos\:softaction="del_trans"],
    .leos-content-new, .leos-content-new[leos\:softaction="move_from"],
    .leos-content-new[leos\:softaction="move_from"] .leos-content-new[leos\:softaction="add"],
    .leos-content-soft-removed[leos\:softaction="move_to"],
    .leos-content-soft-removed[leos\:softaction="del"],
    .leos-content-soft-removed[leos\:softaction="del_trans"],
    .leos-content-soft-new, .leos-content-soft-new[leos\:softaction="move_from"] {
        & {
            changedetails.change-details-block {
                @extend %ChangeDetailsText;
                * {
                    @extend %ChangeDetailsText;
                }
            }
        }
    }
}

//------------------------------- Editor Styles -----------------------------//
