@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- XML Styles --------------------------------//
%xmlCoverPage {
    container[name=eeaRelevance] {
        & > * {
            text-align: center;
            text-decoration: none;
            display: block;
            font-weight: normal;
        }
    }

    coverPage {
        display: block;

        @extend %pageLayout;

        // AKN4EU 4.0: mainDocLanguage, language for compatibility reasons
        container[name=language],
        container[name=mainDocLanguage] {
            font-weight: bold;
            position: absolute;
            font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 24pt;
            bottom: $PAGE-MARGIN-VERTICAL;
            &:before {
                content: attr(data-lang);
                float: left;
                margin-left: -1.2cm;
            }
            &:after {
                content: attr(data-lang);
                float: right;
                margin-left: 15.8cm;
            }
        }

        container[name=logo] {
            padding-bottom: 4.65cm; // did it because in this case missing information from metadata (Brussels 2017 draft) 
            display: inline-block;
            // Style for logo image
            & > * > img {
                width: 180px;
                height: 90px;
            }
        }
        
        container[name=actingEntity] {
            & > * {
                font-size: 14pt;
                margin-left: 0.5em;
                display: inline-block;
                max-width: 35%;
                font-family: Arial;
            }
        }

        container[name=mainDoc] {
            display: block;
            margin-top: 52pt;
            margin-left: 8.99cm;

            & > block[name=placeAndDate] {
                display: inline;
                margin-bottom: -15px;

                & > location {
                    display: inline;
                }

                & > date {
                    display: inline;
                }
            }

            & > block[name=reference] {
                display: block;

                & > docNumber {
                    display: inline;
                }
            }
        }

        container[name=procedureIdentifier] {
            display: block;
            margin-left: 8.99cm;
            margin-bottom: 24pt;
            margin-top: 10pt;
            & > p {
                & > docketNumber {
                    display: inline;
                }
            }
        }

        container[name=docLabel] {
            & > * {
                display: block;
                font-weight: bold;
                text-align: center;
                @extend %paddedText;
            }
        }
		
		container[name=associatedReferences] {
            display: block;
            text-align: center;
            margin-top: 10pt;
			& > * {
				text-decoration: none;
				font-weight: normal;
			}
		}

        @extend %xmlLongTitle;

    }

}

//--------------------------------Editor table--------------------------------/

//--------------------------------Showblock table-----------------------------/

