@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

%documentFooter {
    .leos-authnote-table {
        display: table;
        word-break: break-all;
        word-wrap: break-word;
        table-layout: fixed;
    }
    .leos-authnote {
        display: table-row;
        marker {
            display: block;
            font-size: 0.7em;
            vertical-align: baseline;
            position: relative;
            bottom: 0.5em;
            font-weight: bold;
            color: blue;
            float: left;
            padding-bottom: 1em;
        }
        text {
            display: block;
            word-break: keep-all;
            margin-left: 1.2em;
        }
        a.ref2link-generated {
            text-decoration: underline;
            color: black;
        }
    }
    .leos-authnote[id] {
        cursor: pointer;
    }
}
