@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

%elementHeading {
  font-size: 12pt;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

%inheritTypeSetting {
  letter-spacing: inherit;
  line-height: inherit;
}

//--------------------------------Editor Higher Elements------------------------------/
%editorHeading {
    .akn-element-heading {
      @extend %elementHeading;
      @extend %inheritTypeSetting;
      margin: 0 !important; //override default h2 margin
    }
}