@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or â€“ as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

@mixin exportPdf {    

    @page {
        margin: 2.5cm 0;
        padding: 0;
    }

    .exportpdf coverpage {
        padding-top: 0px;
        padding-bottom: -250px;
    }

    .exportpdf coverpage container { 
        & #coverpage__container_2 { 
            text-align: right;
        }

        & #coverpage__container_4 {
            padding-right: -50px;
            margin-bottom: -75px;
        }
    }

    .exportpdf preface {
        padding-top: 0px;
    }

    .exportpdf mainbody division content {
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }

    .exportpdf paragraph > num+content {
        display: block;
        clear: none;
        margin-left: 60px;
        padding-bottom: 0pt;
        padding-top: 0pt;
    }

}
