@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$LIGHT_GREY: #A7A7A7;
$BLUE_COLOR: blue;

%softRemoved {
  text-decoration: line-through;
  color: $LIGHT_GREY;
}

%softAdded {
  font-weight: bold;
}

%softMovedTo {
  @extend %softRemoved;
}

%softMovedFrom {
  font-weight: normal;
}

%soft {

  .leos-content-soft-removed,
  .leos-content-soft-removed * {
    @extend %softRemoved;
  }

  .leos-content-soft-removed[leos\:softaction="del"],
  .leos-content-soft-removed[leos\:softaction="del_trans"] {
    & {
      *:not([leos\:origin="cn"]):not(span), num[leos\:origin="cn"] {
        @extend %softRemoved;
      }
    }
  }

  .leos-content-soft-removed[leos\:origin="cn"][leos\:softaction="add"] {
    @extend %softRemoved;
    * {
      @extend %softRemoved;
    }
  }

  .leos-content-soft-new[leos\:softaction="add"] {
    & {
      *[leos\:origin="cn"]:not(span):not(list), num:not([leos\:origin="ec"]) {
        @extend %softAdded;
      }

      num[leos\:origin="cn"], num[leos\:origin="ec"] {
        padding-bottom: 0;
      }
    }
  }

  .leos-content-soft-removed[leos\:softaction="move_to"] {
    & {
      *:not([leos\:origin="cn"]):not(span), num[leos\:origin="ec"], num[leos\:origin="cn"] {
        @extend %softMovedTo;
      }

      num[leos\:origin="cn"], num[leos\:origin="ec"] {
        padding-bottom: 0;
      }
    }
  }

  .leos-content-soft-new {
    & {
      .leos-content-soft-removed[leos\:softaction="move_to"],
      .leos-content-soft-removed[leos\:softaction="del"],
      .leos-content-soft-removed[leos\:softaction="del_trans"] {
        & {
          *:not([leos\:origin="cn"]):not(span), num[leos\:origin="cn"] {
            text-decoration: line-through;
          }
        }
      }
      num.leos-content-soft-removed {
        @extend %numRemoved;
        @extend %softRemoved;
      }
    }
  }

  .leos-content-soft-new[leos\:softaction="move_from"] {
    & {
      *:not([leos\:origin="cn"]):not(span):not(heading):not(authorialnote)
      {
        @extend %softMovedFrom;
      }

      num[leos\:origin="cn"], num[leos\:origin="ec"] {
        padding-bottom: 0;
      }

      num[leos\:origin="cn"] {
        @extend %softAdded;
      }

      num.leos-content-soft-removed {
        @extend %numRemoved;
        @extend %softRemoved;
      }

      .leos-content-soft-new * {
        @extend %softAdded;
      }
    }
  }

  subparagraph[leos\:origin="ec"][leos\:indent-origin-num]::before,
  paragraph[leos\:origin="ec"][leos\:indent-origin-num][leos\:indent-unumbered-paragraph]::before {
    margin-left: -20pt;
  }

  subparagraph[leos\:origin="ec"][leos\:indent-origin-num]::before,
  alinea[leos\:origin="ec"][leos\:indent-origin-num]::before,
  paragraph[leos\:origin="ec"][leos\:indent-origin-num][leos\:indent-unumbered-paragraph]::before {
    content: attr(leos\:indent-origin-num);
    @extend %softRemoved;
    @extend %numRemoved;
  }

  point.leos-content-soft-removed[leos\:indent-origin-num]::before,
  paragraph.leos-content-soft-removed[leos\:indent-origin-num]::before {
    content: attr(leos\:indent-origin-num);
    @extend %softRemoved;
    @extend %numRemoved;
  }
}

division.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

division.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

level.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

level.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

b.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

b.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

i.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

i.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

span.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

span.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

aknp.leos-content-soft-removed {
  @extend %softRemoved;
  * {
    @extend %softRemoved;
  }
}

aknp.leos-content-soft-new {
  @extend %softAdded;
  * {
    @extend %softAdded;
  }
}

//--------------------------------Soft IMG-----------------------------------/
.leos-content-soft-new img, [leos\:softaction="add"] img,
[leos\:softaction="move_from"] img {
  @include borderStyle(3px, solid);
}

.leos-content-soft-removed img,
[leos\:softaction="del"] img,
[leos\:softaction="del_trans"] img,
[leos\:softaction="move_to"] img {
  @include borderStyle(2px, dotted);
}

//--------------------------------Soft TABLE-----------------------------------/

table, tr, td, th {
  &.leos-content-soft-new, &[leos\:softaction="add"],
  &[leos\:softaction="move_from"] {
    @include borderStyle(3px, solid);
    @extend %softAdded;
  }

  &.leos-content-soft-removed,
  &[leos\:softaction="del"],
  &[leos\:softaction="del_trans"],
  &[leos\:softaction="move_to"] {
    @include borderStyle(2px, dotted);
    @extend %softRemoved;
  }
}

.leos-content-soft-removed table,
:not([leos\:optional="true"])[leos\:softaction="del"] table,
[leos\:softaction="del_trans"] table,
[leos\:softaction="move_to"] table {
  @include borderStyle(2px, dotted);
}

.leos-content-soft-new table, [leos\:softaction="add"] table,
[leos\:softaction="move_from"] table {
  @include borderStyle(3px, solid);
  @extend %softAdded;
}

//--------------------------------Soft FOOTNOTE-----------------------------------/

.leos-authnote-table span.leos-content-soft-new * {
  font-weight: bold;

  a.ref2link-generated {
    text-decoration: underline;
    color: black;
  }
}

.leos-authnote marker {
  & {
    span.leos-content-soft-new,
    span.leos-content-soft-removed {
      font-weight:bold;
      color: $BLUE_COLOR
    }
  }
}
