@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$LIST_SPACING: 40px;

//------------------------------- XML Styles --------------------------------//
%xmlSubParagraph {
    subparagraph {
      display: block;

      & > content > aknP, & > content > p {
        @extend %paddedText;
        display: block;
      }

      & > num {
        float: left;
        padding-top: 7px;
      }
    }

    paragraph {
      @extend %padSubParagraph;
      @extend %padSubParagraphEditor;
    }
}

%tocSubParagraph {
  & > subparagraph > content > aknP, subparagraph > content > p {
    @extend %clearTopText;
  }
  @extend  %padSubParagraph
}

%padSubParagraph {
  // pad all subparagraphs of numbered paragraphs, except the first one which is already padded by the number tag
  & > num ~ subparagraph:not([leos\:action-enter="insert"]) > content > p::before,
  & > num ~ subparagraph:not([leos\:action-enter="insert"]) > content > aknp::before {
    @extend %padRight;
  }
  & > num ~ subparagraph[leos\:action-enter="insert"] > content > p::before,
  & > num ~ subparagraph[leos\:action-enter="insert"] > content > aknp::before {
    @extend %padRightForSubparagraphWithNewEnter;
  }
  & > num + subparagraph > content > p::before, & > num + subparagraph > content > aknp::before {
    display: none;
  }
}

//------------------------------- Editor Styles -----------------------------//
%editorSubParagraph {
  ol > li[data-akn-name="aknNumberedParagraph"]:not([data-akn-num]), ol[data-akn-name="aknAnnexList"] > li:not([data-akn-num]) {
    & > p:first-child {
      padding-top: 0;
    }
    & > p:not([data-akn-element="subparagraph"]) {
      @extend %paddedText;
    }
    & > p[data-akn-element="subparagraph"] {
      @extend %paddedText;
    }
    & > p:last-child {
      padding-bottom: 0;
    }
    & > p.selectedMovedElement {
      @extend %moveSubElement;
    }
  }
  ol > li[data-akn-name="aknNumberedParagraph"][data-akn-num], ol[data-akn-name="aknAnnexList"] > li[data-akn-num] {
    & > p:first-child {
      padding-top: 0;
    }
    & > p:not([data-akn-element="subparagraph"]) {
      @extend %paddedText;
    }
    & > p[data-akn-element="subparagraph"] {
      @extend %paddedText;
      margin-left: 40px;
    }
    & > p:last-child {
      padding-bottom: 0;
    }
    & > p.selectedMovedElement {
      @extend %moveSubElement;
    }
  }
  // pad all subparagraphs of numbered paragraphs, except the first one which is already padded by the number tag
  ol > li[data-akn-num][data-akn-name="aknNumberedParagraph"] {
    & > p:not(:first-of-type):not([data-akn-element=crossHeading]):not([data-akn-element="subparagraph"])::before {
      @extend %padRight;
    }
    & > p[data-akn-element="subparagraph"]:not(:first-of-type):not([data-akn-element=crossHeading])::before {
      @extend %padRightForSubparagraphWithNewEnter;
    }
  }
}

%padSubParagraphEditor {
  // pad all subparagraphs of numbered paragraphs, except the first one which is already padded by the number tag
  & > num ~ .cke_editable > ol[data-akn-name=aknSubParagraphMandate] > li::before {
    content: '';
    margin-right: $LIST_SPACING;
  }
  & > num + .cke_editable > ol[data-akn-name=aknSubParagraphMandate] > li::before {
    display: none;
  }
}

//------------------------------- Showblock Styles --------------------------//
%showblockSubParagraph {
  ol > li > p {
    @include blockOutline("SUBPARAGRAPH");
  }
  ol > li > p::after {
    padding-left: 4px;
  }
  ol > li > h2 {
    @include blockOutline("HEADING");
  }
}

%padRight {
  content: '';
  margin-right: 40px;
}

%padRightForSubparagraphWithNewEnter {
  content: '';
}