@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

//------------------------------- XML Styles --------------------------------//
%xmlTrackChanges {

  [leos\:uid]:not(tr)::before {
    content: attr(leos\:title);
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    padding: 3px 7px;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
  }

  [leos\:uid]:hover::before {
    display: inline;
    z-index: 1;
  }

  [leos\:uid]:has([leos\:uid]:hover):hover::before {
    display: none;
  }

  span {
    white-space: break-spaces;
  }
  
  ins, [leos\:action="insert"] {
    text-decoration: underline;
    white-space: break-spaces;
    mref, authorialnote, span.MathJax_CHTML {
      box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.5);
      span.mjx-char {
        text-decoration: underline;
      }
    }
    &[leos\:uid="anonymous"] {
      color: #008000;
      &:hover {
        background-color: hsl(120, 100%, 35%);
      }
    }
  }

  del, [leos\:action="delete"], [leos\:action="delete"] num {
    text-decoration: line-through;
    white-space: break-spaces;
    mref, authorialnote, span.MathJax_CHTML {
      box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
      span.mjx-char {
        text-decoration: line-through;
      }
    }
    &[leos\:uid="anonymous"] {
      color: #FF0000;
      &:hover {
        background-color: hsl(0, 100%, 90%);
      }
    }
  }

  del[leos\:action-enter="delete"] {
    text-decoration: none;
  }

  tr[leos\:action="insert"] {
    box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.5);
  }

  tr[leos\:action="delete"], [leos\:action="delete"] tr {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
  }

  [leos\:optional="true"] tr {
    background-color: transparent;
  }

}

//------------------------------- Editor Styles -----------------------------//
%editorTrackChanges {

  [data-akn-action="insert"] {
    text-decoration: underline;
    mref, span.authorialnote, span.cke_widget_mathjax {
      box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.5);
      span.mjx-char {
        text-decoration: underline;
      }
    }
  }

  [data-akn-action="delete"] {
    text-decoration: line-through;
    mref, span.authorialnote, span.cke_widget_mathjax {
      box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
      span.mjx-char {
        text-decoration: line-through;
      }
    }
  }

  tr[data-akn-action="insert"] {
    box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.5);
  }

  tr[data-akn-action="delete"], [data-akn-action="delete"] tr {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.5);
  }

  [data-akn-action-number="insert"]:before {
    text-decoration: underline;
  }

}
