@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$GREY_COLOR: #808080;
$BLOCK_OUTLINE: 1px dotted $GREY_COLOR;
$OUTLINE_OFFSET: 4px;
$G_BORDER_COLOR: #B7B7B7;
$W_BG_COLOR: #FFFAFD;
$BLUE_BORDER_COLOR: #ADBDCE;
$EDITOR_MARGIN_OFFSET: 40px;

@mixin borderStyle($width, $pattern) {
    border: $width $pattern;
}

@mixin blockOutline($label, $leftOffset:0px) {
    position: relative;
    outline: $BLOCK_OUTLINE;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 24px 0 8px ($OUTLINE_OFFSET + $leftOffset);

    &:after {
        content: $label;
        color: $GREY_COLOR;
        font-size: 9px;
        display: block;
        overflow: auto;
        position: absolute;
        top: 0;
        left: $OUTLINE_OFFSET;
    }
}

%editorDeletedElementsTextStyle {
    text-decoration: line-through;
}

%editorContentColor {
    //Styles for Non-editable Elements
    *[contenteditable="false"] {
        color: $GREY_COLOR;
    }

    *[contenteditable="true"] {
        color: black;
    }

    //Show strike-through across moved element [LEOS-4975]
    *[data-akn-attr-softaction="move_to"], *[data-akn-attr-softaction="move_to"][data-akn-num]:before {
        text-decoration: line-through;
        color: $GREY_COLOR;
    }

    //strike-through deleted elements [core#147]
    [contenteditable="false"][data-akn-attr-softaction="del"][id^="deleted_"] {
       @extend %editorDeletedElementsTextStyle;
    }
    ol > li[id^="deleted_"]:before   {
        @extend %editorDeletedElementsTextStyle;
    }
}

%editorFocus {
    &.leos-editor-focus {
        background-color: $W_BG_COLOR;
        border-color: $BLUE_BORDER_COLOR;
        margin-top: $EDITOR_MARGIN_OFFSET;
    }
    &.leos-editor-focus-double {
        background-color: $W_BG_COLOR;
        border-color: $BLUE_BORDER_COLOR;
        margin-top: 2 * $EDITOR_MARGIN_OFFSET;
    }
    &.leos-editor-focus-first {
        background-color: $W_BG_COLOR;
        border-color: $BLUE_BORDER_COLOR;
    }
    &.leos-editor-focus-first-double {
        background-color: $W_BG_COLOR;
        border-color: $BLUE_BORDER_COLOR;
    }
}

%editorWidget {
    .cke_widget_wrapper:hover .cke_widget_editable, .cke_widget_wrapper:hover .cke_widget_element {
        outline: 2px solid #AACCEE;
    }
}

%defaultBoxSizing{
    *,
    *:before,
    *:after{
        box-sizing: border-box;
    }
}
