<eui-dialog #deleteDialog>
  <eui-dialog-header>
    <h3 [innerHTML]="title"></h3>
  </eui-dialog-header>
  <div class="eui-u-display-flex eui-u-flex-column">
    <p [innerHTML]="description"></p>
  </div>
  <eui-dialog-footer>
    <div class="app-dialog-footer-content">
      <button euiButton euiSecondary (click)="handleCancel()">
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button euiButton euiDanger (click)="handleConfirm()">
        {{ 'global.actions.delete' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
