$color-tab-added: rgba(92, 124, 84, 1.0);
$color-tab-deleted: rgba(252, 16, 16, 1.0);
$color-tab-updated: rgba(242, 149, 39, 1.0);
$color-tab-accepted: rgba(9, 124, 84, 1.0);
$color-tab-rejected: rgba(202, 16, 16, 1.0);
$color-tab-selected-gradient: 0.2;
$color-tab-process-gradient: 0.6;
$color-tab-selected: rgba(230, 230, 230, 1.0);

.milestone-view-dialog__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--eui-base-spacing-m) var(--eui-base-spacing-m) 0
  var(--eui-base-spacing-m);
}

.export-accept-reject-div {
  right: var(--eui-base-spacing-m);
  display: flex;
  align-content: center;
  align-items: flex-start
}

.accept-reject-div {
  margin-right: 50px;
}

.accept-reject-button {
  margin-left: .75rem !important;
}

.export-button {
  right: var(--eui-base-spacing-m);
}

::ng-deep .milestone-view-dialog__body {
  eui-tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .eui-tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tab-icon {
    margin-left: 10px;
    padding-bottom: 10px;
  }

  .eui-tab-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .eui-tab-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  .eui-tab-item {
    margin-right: .2rem !important;
  }

  .eui-tabs .eui-tab-item.eui-tab-item--primary {
    margin-right: 0px !important;
  }

  .eui-tab-item--danger {
    background-color: $color-tab-deleted !important;
    color: white !important;
  }

  .eui-tab-item--danger.eui-tab-item--primary {
    background-color: #{'rgba(#{red($color-tab-deleted)}, #{green($color-tab-deleted)}, #{blue($color-tab-deleted)}, #{$color-tab-process-gradient})'} !important;
    color: white !important;
    svg {
      color: var(--eui-base-color-white);
      fill: var(--eui-base-color-white);
    }
  }

  .eui-tab-item--danger.eui-tab-item--secondary {
    background-color: #{'rgba(#{red($color-tab-deleted)}, #{green($color-tab-deleted)}, #{blue($color-tab-deleted)}, #{$color-tab-process-gradient})'} !important;
    color: white !important;
    svg {
      color: var(--eui-base-color-white);
      fill: var(--eui-base-color-white);
    }
  }

  .eui-tab-item--success {
    background-color: $color-tab-added !important;
    color: white !important;
  }

  .eui-tab-item--success.eui-tab-item--primary {
    background-color: #{'rgba(#{red($color-tab-added)}, #{green($color-tab-added)}, #{blue($color-tab-added)}, #{$color-tab-process-gradient})'} !important;
    color: white !important;
    svg {
      color: var(--eui-base-color-white);
      fill: var(--eui-base-color-white);
    }
  }

  .eui-tab-item--success.eui-tab-item--secondary {
    background-color: #{'rgba(#{red($color-tab-added)}, #{green($color-tab-added)}, #{blue($color-tab-added)}, #{$color-tab-process-gradient})'} !important;
    color: white !important;
    svg {
      color: var(--eui-base-color-white);
      fill: var(--eui-base-color-white);
    }
  }

  .eui-tab-item--warning {
    background-color: $color-tab-updated !important;
    color: white !important;
  }

  .eui-tab-item--secondary {
    background-color: $color-tab-rejected !important;
  }

  .eui-tab-item--primary {
    background-color: $color-tab-accepted !important;
    color: white !important;
  }

  .eui-tab-item--accent {
    background-color: $color-tab-selected !important;
  }

  .eui-tab-item--danger.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-deleted)}, #{green($color-tab-deleted)}, #{blue($color-tab-deleted)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
  }

  .eui-tab-item--danger.eui-tab-item--primary.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-deleted)}, #{green($color-tab-deleted)}, #{blue($color-tab-deleted)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
    svg {
      color: var(--eui-base-color-black);
      fill: var(--eui-base-color-black);
    }
  }

  .eui-tab-item--danger.eui-tab-item--secondary.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-deleted)}, #{green($color-tab-deleted)}, #{blue($color-tab-deleted)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
    svg {
      color: var(--eui-base-color-black);
      fill: var(--eui-base-color-black);
    }
  }

  .eui-tab-item--success.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-added)}, #{green($color-tab-added)}, #{blue($color-tab-added)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
  }

  .eui-tab-item--success.eui-tab-item--primary.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-added)}, #{green($color-tab-added)}, #{blue($color-tab-added)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
    svg {
      color: var(--eui-base-color-black);
      fill: var(--eui-base-color-black);
    }
  }

  .eui-tab-item--success.eui-tab-item--secondary.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-added)}, #{green($color-tab-added)}, #{blue($color-tab-added)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
    svg {
      color: var(--eui-base-color-black);
      fill: var(--eui-base-color-black);
    }
  }

  .eui-tab-item--warning.eui-tab-item--accent {
    background-color: #{'rgba(#{red($color-tab-updated)}, #{green($color-tab-updated)}, #{blue($color-tab-updated)}, #{$color-tab-selected-gradient})'} !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
  }

  .eui-page-column__header-right-content {
    align-self: start;
  }

  .toc-pane,
  .annotations-pane {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .scrollable-page-column {
    overflow: scroll;
    width: 35%;
  }

  .eui-page-column__header-right-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .leos-soft-move-label {
    background-color: #808080;
    cursor: pointer;
    height: 18px;
    padding: 2px 5px;
  }

  .leos-soft-move-label,
  .leos-transparent-soft-move-label {
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    line-height: 1;
    margin: 0 2px;
    text-decoration: none !important;
  }

  .leos-soft-move-label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    height: 16px;
    padding: 2px;
  }
}

::ng-deep .leos-guideline-canvas.leos-guideline-canvas--above-modals {
  z-index: calc(var(--eui-base-z-index-cdk-overlay-container) + 1);
}

::ng-deep .eui-dialog__footer-content {
  .eui-chip--danger {
    background-color: $color-tab-deleted !important;
    color: white !important;
  }

  .eui-chip--danger.eui-chip--accent {
    background-color: $color-tab-accepted !important;
    border-width: 4px !important;
    border-style: solid !important;
    border-color: $color-tab-deleted !important;
    color: white !important;
  }

  .eui-chip--danger.eui-chip--secondary {
    background-color: $color-tab-rejected !important;
    border-width: 4px !important;
    border-style: solid !important;
    border-color: $color-tab-deleted !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
  }

  .eui-chip--success {
    background-color: $color-tab-added !important;
    color: white !important;
  }

  .eui-chip--success.eui-chip--accent {
    background-color: $color-tab-accepted !important;
    border-width: 4px !important;
    border-style: solid !important;
    border-color: $color-tab-added !important;
    color: white !important;
  }

  .eui-chip--success.eui-chip--secondary {
    background-color: $color-tab-rejected !important;
    border-width: 4px !important;
    border-style: solid !important;
    border-color: $color-tab-added !important;
    color: var(--eui-base-color-grey-15-contrast) !important;
  }

  .eui-chip--warning {
    background-color: $color-tab-updated !important;
    color: white !important;
  }
}

