.zoom-scrollbar-container {
  height: 91%;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.zoom-range {
  -webkit-appearance: slider-vertical;
  appearance: none;
  background: transparent;
  width: 100%;
}

.zoom-value {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.zoom-track-and-symbols {
  height: 67%;
  width: 34%;
  display: flex;
  align-items: center;
}

.zoom-symbols {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  align-items: center;
  gap: 60px;
}

.zoom-range::-webkit-slider-runnable-track {
  background: rgb(0, 0, 0);
  min-width: 80px;
  right: 30px;
  position: relative;
  transform: rotate(-90deg);
  cursor: pointer;
  height: 3px;
}

.zoom-range::-webkit-slider-thumb {
  appearance: none;
  background: black;
  border: none;
  cursor: pointer;
  height: 13px;
  margin-top: -5.5px;
  width: 6px;
}

.zoom-range::-moz-range-track {
  background: black;
  border-radius: 5px;
  cursor: pointer;
  height: 5px;
}

.zoom-range::-moz-range-thumb {
  background: black;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 10px;
}

.zoom-controls {
  align-items: center;
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  transform: rotate(-90deg);
  transform-origin: center;
}

.zoom-controls::after {
  background-color: black;
  content: '';
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  pointer-events: none;
}

.eui-icon-minus {
  cursor: pointer;
  padding-bottom: 10px;
  pointer-events: auto;
}

.eui-icon-add {
  cursor: pointer;
  padding-top: 10px;
  pointer-events: auto;
}

.eui-icon-container {
  pointer-events: none;
}

.eui-icon-container-add {
  pointer-events: none;
}
