@import 'node_modules/@eui/styles-base/src/styles/base';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

:host ::ng-deep {
  .eui-breadcrumb__items {
    font-size: 12px;
    padding: 0.2rem;
  }

  .eui-breadcrumb-item > * > span {
    font-weight: bold;
  }

  .eui-breadcrumb {
    width: fit-content;
  }

  .document-pane {
    min-width: 200px;
  }

  .eui-fieldset__header {
    margin: 0px;
  }

  .toc-pane,
  .annotations-pane {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .eui-page-column__header {
    padding: 0;
    min-height: 0px;
  }

  .eui-page-column__body {
    min-width: 200px;
    height: 100%;
    width: 100%;
  }

  .eui-page-column__body:first-of-type {
    overflow-y: hidden;
  }

  .eui-page-column__header-right-content {
    align-self: start;
  }

  .eui-page-header {
    flex-direction: initial;
    justify-content: center;
    padding: var(--eui-base-spacing-xs);
  }

  .eui-page-column__header-left-content-body {
    margin: 0;
  }

  .eui-page-column__header-right-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .eui-page-column__header-left-content {
    align-self: center;
    font-size: inherit;
    font-size: var(--eui-base-font-size-s);
  }

  .eui-page-column__header-left-content-label {
    font-size: var(--eui-base-font-size-s) !important;
    font-weight: bolder !important;
  }

  .eui-common-header__label-text {
    font-size: var(--eui-base-font-size-l);
  }

  .eui-fieldset__header {
    border-bottom: none;
    text-transform: capitalize;
  }

  .cdk-drag.eui-list-item.eui-list-item--primary.ng-star-inserted > * {
    display: flex;
  }

  .eui-fieldset__header-right-content {
    margin: 0;
  }

  eui-page-column-body {
    height: 100%;
    width: 100%;
  }

  /* Migrated from modules/ui/src/main/resources/VAADIN/themes/leos/scss/component/_documentView.scss */

  .bookmark-container {
    $HEADER_BLUE: #0065a2;
    $WHITE: #fff;

    background: $HEADER_BLUE;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 125px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 30px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s ease-in, width 0.4s ease-out;
    white-space: nowrap;
    width: 0;

    .bookmark-link {
      align-items: center;
      color: $WHITE;
      display: none;
      gap: 4px;
    }

    .bookmark-icon {
      font-size: 20px;
    }

    &.displayed {
      opacity: 1;
      padding: 5px;
      width: auto;

      .bookmark-link {
        display: flex;
      }
    }
  }

  .pin-container .pin-leos-content-removed {
    background: #f99;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    margin-left: 9px;
    width: 8px;
  }

  .pin-container .pin-leos-content-new {
    background: #9f6;
    border-bottom: 1px solid #6c0;
    border-top: 1px solid #6c0;
    width: 9px;
  }

  .pin-container .pin-popup-side-bar {
    background: #999;
    height: 2px;
  }

  .pin-container .pin-popup-side-bar {
    background: #999;
    height: 2px;
  }

  .pin-container {
    bottom: 0;
    margin: 15px 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  .pin-left {
    left: 0;
  }

  .pin-right {
    right: 17px;
  }

  .pin-container .pin {
    cursor: pointer;
    height: 5px;
    position: absolute;
    z-index: 10;
  }

  @include eui-scrollbars($size: 0);
}

app-document {
  border-top: 1px solid var(--eui-base-color-grey-15);
}

.toc-loading-spinner {
  float: right;
  margin-top: -35px;
  margin-right: 30px;
}

.search-versions-result {
  max-height: 200px;
  overflow: scroll;
}

.tree-drag-content {
  background-color: var(--eui-app-body-bg-color);
  border-radius: 1rem;
  left: 0;
  margin-left: 1rem;
  opacity: 1;
  padding: 0.2rem;
  padding-left: 0.3rem;
  position: absolute;
  top: 1%;
  z-index: 1;

  h3 {
    font-size: var(--eui-base-font-size-s);
    margin-bottom: var(--eui-base-spacing-xs);
    padding: 0.2rem;
  }

  li,
  .toc-item,
  .drag-preview {
    border: solid var(--eui-base-color-primary-100);
    border-radius: 1rem;
    border-width: 2px;
    font-size: 12px;
    padding: 0.3rem;
    text-align: center;
  }

  .eui-list > :not(:last-child) {
    margin-bottom: var(--eui-base-spacing-2xs);
  }
}

.version-search-form-author-label {
  width: 26%;
}

.version-search-form-author-label > label {
  font-size: var(--eui-base-font-size-s);
}

.version-search-form-type-label {
  font-size: var(--eui-base-font-size-s) !important;
}

.version-search-form-author-label label {
  font-size: var(--eui-base-font-size-s) !important;
}

.search-version-pane {
  background-color: #e7f6ec !important;
  border: solid green 2px;
}

.search-version-pane > eui-card {
  background-color: #e7f6ec !important;
}

.search-version-pane > eui-card > eui-card-content {
  background-color: #e7f6ec !important;
}

.processed-span,
.select-revisions-span {
  white-space: pre;
}

.splitter {
  background-color: #ccc;
  cursor: ew-resize;
  width: 10px;
}

.eui-page-content--blocked {
  > * {
    pointer-events: none;
    user-select: none;
  }

  // copy of `.eui-block-content--blocked .eui-block-content__wrapper::before`
  &::before {
    animation: spin 0.8s linear infinite;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: var(--eui-base-color-primary-100);
    content: '';
    display: block;
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: 50%;
    width: 80px;
    z-index: 10002;
  }

  // copy of `.eui-block-content--blocked .eui-block-content__wrapper:after`
  &::after {
    background-color: #fff6;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10001;
  }

  .toolbar-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .title {
    margin-right: auto;
  }
}
