<eui-page *ngIf="loadDocument" euiNoContentPadding>
  <eui-page-content
    [ngClass]="{
      'eui-page-content--blocked':
        blockDocumentEditorService.isDocumentEditorBlocked$ | async
    }"
  >
    <eui-page-column-header-collapsed-content>
      <div class="eui-u-flex eui-u-flex-column eui-u-width-100">
        <div class="eui-u-flex eui-u-flex-row eui-u-flex-justify-content-between" style="height: 35px;">
          <eui-breadcrumb *ngIf="showBreadcrumb">
            <eui-breadcrumb-item
              *ngFor="let item of breadcrumbService.breadcrumbs$ | async"
              [id]="item.id"
              [link]="item.link"
              [label]="item.label"
            >
            </eui-breadcrumb-item>
          </eui-breadcrumb>
          <h5
            class="subtitle eui-u-font-s flex-grow-1 eui-u-mh-xs eui-u-text-center"
          >
            {{ pageTitle$ | async }}
          </h5>
          <button
            *ngIf="showCloseButton && !showMarkAsDoneButton && documentConfig?.proposalMetadata"
            class="eui-u-ml-xs eui-u-mr-xs"
            euiButton
            euiSizeS
            euiPrimary
            translate="global.actions.close"
            (click)="handleClose()"
          ></button>
        </div>
        <app-ribbon-toolbar-container [mainContainerId]="mainContainerId"
                                      class="eui-u-width-100"></app-ribbon-toolbar-container>
      </div>
    </eui-page-column-header-collapsed-content>

    <eui-page-columns>
      <!-- ToC -->
      <eui-page-column
        #tocPane
        class="toc-pane"
        isCollapsible
        [isCollapsed]="documentService.navigationSidebarCollapsed$ | async"
        (collapsed)="documentService.toggleNavigationSidebar(!$event)"
        style="flex-basis: 400px"
      >
        <eui-page-column-body>
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.navigation-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isTocPaneExpanded"
            (expand)="onTocPaneExpanded($event)"
          >
            <mat-spinner *ngIf="tocLoading" class="toc-loading-spinner" diameter="15" color="black"></mat-spinner>
            <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-align-items-center">
              <!-- Expand all -->
              <button
                euiButton
                euiBasicButton
                euiSizeS
                class=""
                *ngIf="!isEditMode"
                [euiTooltip]="
                  (isCollapseToc
                    ? 'page.editor.toc.toc-pane.actions.expandAll'
                    : 'page.editor.toc.toc-pane.actions.collapseAll'
                  ) | translate
                "
                [position]="'right'"
                (click)="expandAll()"
              >
                <eui-icon-svg size="s" icon="eui-sitemap"></eui-icon-svg>
              </button>
              <!-- Co edition Indicator -->
              <div class="">
                <app-co-edition-info [isToc]="true" [isNotTocNodeLevel]="true"></app-co-edition-info>
              </div>
              <!-- Edit mode -->
              <button
                euiButton
                euiBasicButton
                euiSizeS
                class=""
                euiTooltip="{{
                  'page.editor.toc.toc-pane.actions.edit' | translate
                }}"
                [position]="'right'"
                (click)="handleEdit()"
                *ngIf="showTocEditButton &&
                  !isEditMode &&
                  !['coverPage', 'memorandum', 'stat_digit_financ_legis'].includes(
                    documentType
                  )
                "
              >
                <eui-icon-svg size="s" set="" icon="eui-ecl-edit"></eui-icon-svg>
              </button>
              <!-- Warning icon -->
              <span *ngIf="!isEditMode && showWarningIcon()">
                <button
                  euiButton
                  euiBasicButton
                  class="eui-u-p-none"
                  euiSizeS
                  [euiTooltip]="showWarningMessages()"
                  contentAlignment="left"
                  [euiAccent]="true"
                >
                  <eui-icon-svg icon="eui-ecl-warning" set="eui" size="s" class="eui-u-color-accent-75"></eui-icon-svg>
                </button>
              </span>
              <!-- Actions menu-->
              <app-toc-actions-buttons
                [isEditMode]="isEditMode"
                [isUndoDisabled]="disableUndoButton()"
                [isSaveDisabled]="disableSaveButton()"
                [isShowWarning]="showWarningIcon()"
                [warningMessagesFromValidation]="getWarningMessages()"
                [isCollapseToc]="isCollapseToc"
                [isAnnotationsPaneCollapsed]="isAnnotationsPaneCollapsed"
                [isVersionsPaneCollapsed]="isVersionsPaneCollapsed"
                (handleExpandAll)="expandAll()"
                (handleUndo)="handleUndo()"
                (handleSave)="handleSave(false)"
                (handleCancel)="handleCancel()"
                (handleSaveAndClose)="handleSaveAndClose()"
              >
              </app-toc-actions-buttons>
            </div>
            <app-document-toc
              [isEditMode]="isEditMode"
              [tocItems]="tocItems"
              [documentType]="documentType"
              [documentRef]="documentRef"
              (reBuildTocItems)="onRebuildTocItems($event)"
              [readonly]="
                                  environmentService.isCouncil() &&
                                  documentService.documentType === 'memorandum'
                                "
            ></app-document-toc>
          </eui-fieldset>
          <!-- versions -->
          <hr/>
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.versions-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isVersionsPaneExpanded"
            (expand)="onVersionsPaneExpanded($event)"
          >
            <div class="eui-u-display-flex app-u-gap-m eui-u-mb-m">
              <button
                euiButton
                euiIconButton
                euiSecondary
                euiOutline
                euiSizeS
                [title]="
                  ((versionCompareService.compareModeEnabled$ | async)
                    ? 'page.editor.versions.compare-button.tooltip-disable'
                    : 'page.editor.versions.compare-button.tooltip-enable'
                  ) | translate
                "
                [attr.aria-label]="
                  ((versionCompareService.compareModeEnabled$ | async)
                    ? 'page.editor.versions.compare-button.tooltip-disable'
                    : 'page.editor.versions.compare-button.tooltip-enable'
                  ) | translate
                "
                (click)="toggleVersionComparisonView()"
              >
                <eui-icon-svg icon="documents:sharp"></eui-icon-svg>
              </button>

              <button
                euiButton
                euiIconButton
                euiSecondary
                euiOutline
                euiSizeS
                [title]="
                  ((documentService.versionSearchOpen$ | async)
                    ? 'page.editor.versions.search-button.tooltip-disable'
                    : 'page.editor.versions.search-button.tooltip-enable'
                  ) | translate
                "
                [attr.aria-label]="
                  ((documentService.versionSearchOpen$ | async)
                    ? 'page.editor.versions.search-button.tooltip-disable'
                    : 'page.editor.versions.search-button.tooltip-enable'
                  ) | translate
                "
                (click)="documentService.toggleVersionsSearchPane()"
              >
                <eui-icon-svg icon="eui-search"></eui-icon-svg>
              </button>
              @if(canUploadXml) {
              <button
                euiButton
                euiIconButton
                euiSecondary
                euiOutline
                euiSizeS
                [title]="
                  ('page.editor.versions.upload.tooltip'
                  ) | translate
                "
                (click)="uploadDocument()"
              >

                <eui-icon-svg icon="eui-file-upload"></eui-icon-svg>

              </button>
              }
            </div>

            <div
              class="eui-u-display-flex eui-u-flex-column eui-u-mb-m search-version-pane"
              *ngIf="documentService.versionSearchOpen$ | async"
            >
              <eui-card euiNoShadow>
                <eui-card-content>
                  <form [formGroup]="versionSearchForm">
                    <div class="row g-0">
                      <div class="col-md-3 version-search-form-type-label">
                        {{
                          'page.editor.versions.search.form.type' | translate
                        }}:
                      </div>
                      <div class="col-md-7 no-g">
                        <div class="eui-u-display-flex eui-u-flex-row">
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-all"
                              formControlName="type"
                              value="all"
                              label="All"
                              euiSizeXS
                            />
                          </div>
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-save"
                              formControlName="type"
                              value="save"
                              label="Save"
                            />
                          </div>
                          <div class="version-search-form-author-label">
                            <input
                              name="type"
                              euiInputRadio
                              id="type-milestone"
                              formControlName="type"
                              value="milestone"
                              label="Milestone"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" style="text-align: right">
                        <button
                          type="button"
                          class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
                          (click)="documentService.toggleVersionsSearchPane()"
                        >
                          <span class="eui-button__container">
                            <span class="eui-icon eui-icon-close-m"></span>
                          </span>
                        </button>
                      </div>
                    </div>

                    <div class="row g-0">
                      <div class="col-md-4 version-search-form-author-label">
                        <label for="author"
                        >{{
                            'page.editor.versions.search.form.author'
                              | translate
                          }}:</label
                        >
                      </div>
                      <div class="col-md-8">
                        <input id="author" formControlName="author"/>
                        <button
                          type="button"
                          class="eui-button eui-button--basic eui-button--icon-only eui-button--rounded eui-button--size-s ng-star-inserted"
                          (click)="this.onSearch()"
                        >
                          <span class="eui-button__container">
                            <span class="eui-icon eui-icon-search"></span>
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </eui-card-content>
              </eui-card>
              <eui-card
                *ngIf="documentService.getVersionSearchResultsIsEmpty()"
                class="search-versions-result"
                euiNoShadow
              >
                <eui-card-content>
                  <app-search-versions-pane
                    class="eui-u-display-block eui-u-width-100"
                    *ngFor="
                      let version of documentService.versionSearchResults$
                        | async;
                      trackByProperty: 'cmisVersionNumber'
                    "
                    [version]="version"
                    (exploreMilestone)="exploreMilestone($event)"
                  ></app-search-versions-pane>
                </eui-card-content>
              </eui-card>
            </div>
            <app-versions-pane
              (exploreMilestone)="exploreMilestone($event)"
            ></app-versions-pane>
          </eui-fieldset>
          <!-- contributions -->
          <hr *ngIf="showContributionsPane"/>
          <eui-fieldset
            class="eui-u-mt-s"
            label="{{ 'page.editor.contribution-pane.label' | translate }}"
            isExpandable
            [isExpanded]="isContributionsPaneExpanded"
            *ngIf="showContributionsPane"
            (expand)="onContributionsPaneExpanded($event)"
          >
            <div class="eui-u-display-flex app-u-gap-m eui-u-mb-m">
              <button euiButton euiIconButton euiSecondary euiOutline euiSizeS>
                <eui-icon-svg icon="eui-search"></eui-icon-svg>
              </button>
            </div>
            <app-revision-pane
              [contributions]="contributions"
            ></app-revision-pane>
          </eui-fieldset>
        </eui-page-column-body>
      </eui-page-column>
      <!-- splitter: ToC & document -->
      <app-resize-handle
        [leftEl]="tocPaneElement?.nativeElement"
        [rightEl]="documentPaneElement?.nativeElement"
        *ngIf="(documentService.navigationSidebarCollapsed$ | async) === false"
      ></app-resize-handle>
      <eui-page-column
        #documentPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"

      >
        <!-- leos-editing-pane is used in leosFloatingSpacePlugin.js -->
        <eui-page-column-body
          class="leos-editing-pane"
          [ngStyle]="{
            height: '100%',
            display: 'flex',
            'flex-direction': 'column'
          }"
          euiNoContentPadding
        >
          <!-- Search panel -->
          <eui-card
            class="eui-u-font-size-s"
            style="position: sticky"
            euiNoShadow
            [ngClass]="{ 'toc-edit-mode': isEditMode }"
            *ngIf="documentService.searchPaneOpen$ | async"
            [ngStyle]="{
              height: (documentService.replacePaneOpen$ | async) ? '140px' : '80px'
            }"
          >
            <eui-card-content class="eui-u-overflow-auto">
              <app-document-search></app-document-search>
            </eui-card-content>
          </eui-card>
          <!-- Drag elements -->
          <div class="tree-drag-content" *ngIf="isEditMode && tocItems.length">
            <h3 class="">{{ 'page.editor.drag-items.title' | translate }}</h3>
            <ul
              euiList
              class=""
              #elementList="cdkDropList"
              cdkDropList
              [cdkDropListData]="dragItems"
              cdkDropListConnectedTo="tree"
              [cdkDropListSortingDisabled]="true"
              [cdkDropListDisabled]="false"
              cdkDragBoundary=".tree"
            >
              <li
                euiListItem
                euiPrimary
                class=""
                cdkDrag
                [cdkDragData]="item"
                (cdkDragMoved)="handleListItemDragged($event, true)"
                *ngFor="let item of dragItems"
              >
                <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                <div
                  *cdkDragPlaceholder
                  euiListItem
                  euiPrimary
                  class="drag-preview"
                >
                  <span>{{ getTocItemDisplayTitle(item.tocItem) }}</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- Document with editor -->
          <app-document
            [containerId]="containerId"
            [mainContainerId]="mainContainerId"
            [documentType]="documentType"
            [readonly]="
              environmentService.isCouncil() &&
              documentService.documentType === 'memorandum'
            "
            [containerClass]="{
              'leos-doc-content': true,
              'sync-scroll': true,
              'toc-edit-mode': isEditMode
            }"
            [ngStyle]="{
              flex: 1
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>
      <!--       splitter: document & document:viewVersion -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="versionForViewPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.ViewVersion"
      ></app-resize-handle>
      <!-- document:viewVersion -->
      <eui-page-column
        #versionForViewPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"

        *ngIf="pageMode === PageMode.ViewVersion"
      >
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column eui-u-flex-align-items-center eui-u-flex-grow"
        >
          <app-document
            containerId="versionContainer"
            [mainContainerId]="versionMainContainerId"
            [documentType]="documentType"
            [xml]="versionForView"
            [containerClass]="{
              'leos-double-comparison-content': isCNInstance,
              'leos-marked-content': !isCNInstance,
              'sync-scroll': true
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document & document:compareVersions -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="compareModePaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.CompareVersions"
      ></app-resize-handle>
      <!-- document:compareVersions -->
      <eui-page-column
        #compareModePane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane"

        *ngIf="pageMode === PageMode.CompareVersions"
      >
        <eui-page-column-body
          class="eui-u-flex eui-u-flex-column eui-u-flex-align-items-center"
        >
          <app-document
            containerId="versionComparisonContainer"
            [mainContainerId]="versionComparisonMainContainerId"
            [xml]="versionsComparisonForView"
            [documentType]="documentType"
            [containerClass]="{
              'leos-double-comparison-content': isCNInstance,
              'leos-marked-content': !isCNInstance,
              'sync-scroll': true,
              'leos-simple-comparison-content':
                isCNInstance &&
                (versionCompareService.versionCompareIds$ | async)?.length === 2
            }"
          ></app-document>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document & document annotations -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="
          (pageMode === PageMode.Normal ||
            pageMode === PageMode.Contribution) &&
          !isAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- splitter: document:viewVersion & document annotations -->
      <app-resize-handle
        [leftEl]="versionForViewPaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.ViewVersion && !isAnnotationsPaneCollapsed"
      ></app-resize-handle>
      <!-- splitter: document:compareVersions & document annotations -->
      <app-resize-handle
        [leftEl]="compareModePaneElement?.nativeElement"
        [rightEl]="annotationsPaneElement?.nativeElement"
        *ngIf="
          pageMode === PageMode.CompareVersions && !isAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- document annotations -->
      <eui-page-column
        #annotationsPane
        class="eui-page-column--right-column annotations-pane"
        [label]="'page.editor.annotations-pane.label' | translate"
        isCollapsible
        [isCollapsed]="isAnnotationsPaneCollapsed"
        (collapsed)="onToggleAnnotationsPaneCollapsed()"
        style="flex-basis: 580px"
        *ngIf="showAnnotations">
        <eui-page-column-body class="eui-u-flex-grow">
          <app-document-annotations
            [containerId]="mainContainerId"
            [connectedEntity]="connectedEntity"
            [proposalRef]="proposalRef"
            [permissions]="documentService.permissions$ | async"
            [showStatusFilter]="showStatusFilter"
            [collapsed]="isAnnotationsPaneCollapsed"
            (sidebarShown)="onSidebarShown()"
            *ngIf="!milestoneViewData"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document annotations & document:contribution
                 Note: It actually resizes the two document panes -->
      <app-resize-handle
        [leftEl]="documentPaneElement?.nativeElement"
        [rightEl]="contributionViewPaneElement?.nativeElement"
        *ngIf="pageMode === PageMode.Contribution"
      ></app-resize-handle>
      <!-- document:contribution (view and merge pane) -->
      <eui-page-column
        #contributionViewPane
        class="eui-u-p-none eui-page-column--no-scrollbars document-pane contribution-view-merge-pane"

        *ngIf="pageMode === PageMode.Contribution"
      >
        <eui-page-column-header-body>
          <div
            class="eui-u-overflow-auto eui-u-flex-justify-content-between eui-u-width-100 app-u-gap-xs"
            style="min-height: 35.99px; text-align: center;"
          >
            <h4
              class="eui-u-font-size-s"
              *ngIf="(mergeContributionService.contributionSelections$ | async) === 0"
            >
              {{
                'page.editor.contribution.view.text.select-revisions'
                  | translate
              }}
            </h4>
            <h4
              class="eui-u-font-size-s"
              *ngIf="(mergeContributionService.contributionSelections$ | async) > 0"
            >
              {{
                'page.editor.contribution.view.text.revisions-selected'
                  | translate
                  : {
                    selected:
                      mergeContributionService.contributionSelections$ | async,
                    all: (contributionChanges$ | async).length
                  }
              }}
            </h4>
          </div>
        </eui-page-column-header-body>
        <eui-page-column-body
        >
          <app-document
            #contributionViewContainer
            containerId="contributionViewContainer"
            [mainContainerId]="contributionViewMainContainerId"
            [xml]="contributionForView"
            [contributionView]=true
            [contribution]="contribution"
            [containerClass]="{
              'leos-revision-content': true,
              'sync-scroll': true,
              'contribution-disabled-mode': processed
            }"
          >
          </app-document>
          <app-merge-actions
            [contribution]="contribution"
          >
          </app-merge-actions>
        </eui-page-column-body>
      </eui-page-column>

      <!-- splitter: document:contribution & document:contribution annotations -->
      <app-resize-handle
        [leftEl]="contributionViewPaneElement?.nativeElement"
        [rightEl]="contributionAnnotationsPaneElement?.nativeElement"
        *ngIf="
          pageMode === PageMode.Contribution &&
          !isContributionAnnotationsPaneCollapsed
        "
      ></app-resize-handle>
      <!-- document:contribution annotations -->
      <eui-page-column
        #contributionAnnotationsPane
        class="eui-page-column--right-column annotations-pane"
        [label]="'page.editor.annotations-pane.label' | translate"
        isCollapsible
        [isCollapsed]="isContributionAnnotationsPaneCollapsed"
        (collapsed)="onToggleContributionAnnotationsPaneCollapsed()"
        style="flex-basis: 580px"
        *ngIf="pageMode === PageMode.Contribution"
      >
        <eui-page-column-body class="eui-u-flex-grow">
          <app-document-annotations
            [containerId]="contributionViewMainContainerId"
            [connectedEntity]="connectedEntity"
            [proposalRef]="contribution.proposalRef"
            [legFileName]="contribution.legFileName"
            [permissions]="documentService.permissions$ | async"
            [showStatusFilter]="showStatusFilter"
            [disableSuggestionButton]=true
            [disableHighlightButton]=true
            operationMode="STORED"
            sidebarAppId="revision-01"
            [collapsed]="isContributionAnnotationsPaneCollapsed"
            (sidebarShown)="onContributionAnnotationsSidebarShown()"
            *ngIf="!milestoneViewData && contributionForView"
          ></app-document-annotations>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>

<app-download-econsilium-modal
  *ngIf="documentRef"
  #eConsiliumModal
></app-download-econsilium-modal>
<app-proposal-milestone-view
  #milestoneViewDialog
  [milestone]="milestoneViewData"
  (closed)="onMilestoneViewDialogClosed()"
  *ngIf="milestoneViewData"
></app-proposal-milestone-view>
<eui-dialog
  #openEditorDialog
  [title]="'page.editor.open.editor.dialog.title' | translate"
  [acceptLabel]="'global.actions.confirm' | translate"
  [width]="'25vw'"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
  [hasCloseButton]="false"
  (clickOutside)="onCancelClose()"
  (close)="onCancelClose()"
  (accept)="onConfirmClose()"
  (dismiss)="onCancelClose()"
>
  <p>{{ 'page.editor.open.editor.dialog.body' | translate }}</p>
</eui-dialog>

<!-- unsaved data dialog -->
<eui-dialog
  #unSavedDialog
  [title]="getTranslations('page.editor.toc.unsaved-changes-dialog.title')"
  [isHandleCloseOnAccept]="true"
  [isHandleCloseOnDismiss]="true"
>
  <p euiSizeXL>
    {{ 'page.editor.toc.unsaved-changes-dialog.body' | translate }}
  </p>
  <eui-dialog-footer>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-end" style="gap: 0.5rem">
      <button
        euiButton
        class="mr-2"
        euiSecondary
        (click)="handleUnSaveDialogClose(false)"
      >
        {{ 'page.editor.toc.unsaved-changes-dialog.close' | translate }}
      </button>
      <button
        class=""
        euiButton
        euiPrimary
        (click)="handleUnSaveDialogClose(true)"
      >
        {{ 'page.editor.toc.unsaved-changes-dialog.save' | translate }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
