<button class="eui-u-mb-s" euiButton euiPrimary (click)="openDialog()">
  {{ 'global.actions.add' | translate }}
</button>

<eui-dialog
  #addCollaboratorsModal
  [title]="'page.collection.collaborators.dialog.header' | translate"
  [isClosedOnClickOutside]="true"
  [isHandleCloseOnClickOutside]="true"
  (clickOutside)="closeDialog()"
  [isClosedOnEscape]="true"
  [isHandleCloseOnEscape]="true"
  (escape)="closeDialog()"
  [hasCloseButton]="false"
>
  <!-- Body -->
  <div [formGroup]="collaboratorsForm">
    <div formArrayName="collaborators">
      <div
        *ngFor="let item of collaboratorsFormList.controls; let i = index"
        class="eui-u-p-xs"
        [ngClass]="{ 'eui-u-bg-color-danger-5': item.errors }"
      >
        <div [formGroupName]="i" class="row eui-u-flex-align-items-center">
          <div class="col-md-5">
            <label euiLabel for="item">{{
                'page.collection.collaborators.dialog.form.name' | translate
              }}</label>
            <eui-autocomplete
              [autocompleteData]="userAutocompleteData"
              name="item"
              id="item"
              formControlName="item"
              (selectionChange)="handleNameSelect($event, i)"
              (keydown)="handleNameChanged(i)"
              (clear)="handleNameChanged(i)"
            ></eui-autocomplete>
          </div>
          <div class="col-md-3">
            <label euiLabel for="entity">{{
                'page.collection.collaborators.dialog.form.entity' | translate
              }}</label>
            <input
              euiInputText
              name="entity"
              id="entity"
              formControlName="entity"
              type="text"
            />
          </div>
          <div class="col-md-3">
            <label euiLabel for="role">{{
                'page.collection.collaborators.dialog.form.role' | translate
              }}</label>
            <select
              euiSelect
              id="role"
              name="role"
              formControlName="role"
              (change)="handleRoleSelect($event, i)"
            >
              <option value="OWNER">
                {{ 'page.collection.collaborators.role.author' | translate }}
              </option>
              <option value="CONTRIBUTOR">
                {{
                  'page.collection.collaborators.role.contributor' | translate
                }}
              </option>
              <option value="REVIEWER">
                {{ 'page.collection.collaborators.role.reviewer' | translate }}
              </option>
              <option value="VIEWER">
                {{ 'page.collection.collaborators.role.viewer' | translate }}
              </option>
            </select>
          </div>
          <div class="col-md-1 eui-u-mt-l">
            <eui-icon-svg *ngIf="i < (this.MAX_QUANTITY_USER - 1)" set="eui" icon="eui-add" fillColor="success-100" style="cursor:pointer;"
                          (click)="addCollaborator(i)"></eui-icon-svg>
            <eui-icon-svg *ngIf="this.collaboratorsFormList.length > 1" set="eui" icon="eui-delete" fillColor="danger-100" style="cursor:pointer;"
                          (click)="removeCollaborator(i)"></eui-icon-svg>
          </div>
        </div>
        <div class="row" *ngIf="item.errors">
          <div class="col-12">
            <eui-feedback-message
              euiDanger
              translate="page.collection.collaborators.dialog.form.errors.duplicate-user"
            ></eui-feedback-message>
          </div>
        </div>
      </div>
    </div>
  </div>

  <eui-alert class="eui-u-mt-l eui-u-mh-xs" euiDanger *ngIf="addUsersError">
    {{
      'page.collection.collaborators.dialog.form.errors.api-failure' | translate
    }}
  </eui-alert>

  <!-- Footer -->
  <eui-dialog-footer>
    <div class="eui-u-display-flex eui-u-flex-row eui-u-flex-justify-content-end">
      <button
        type="button"
        class="eui-u-mr-xs"
        euiButton
        euiSecondary
        (click)="closeDialog()"
      >
        {{ 'global.actions.cancel' | translate }}
      </button>
      <button
        [disabled]="!isFormValid"
        type="button"
        euiButton
        euiPrimary
        (click)="handleAddUsers()"
      >
        {{
          'page.collection.collaborators.dialog.footer.add-users' | translate
        }}
      </button>
    </div>
  </eui-dialog-footer>
</eui-dialog>
