<eui-page>
  <eui-page-breadcrumb euiNoContentPadding class="eui-u-p-none">
    <eui-breadcrumb>
      <eui-breadcrumb-item
        *ngFor="let item of breadcrumbService.breadcrumbs$ | async"
        [id]="item.id"
        [link]="item.link"
        [label]="item.label"
      >
      </eui-breadcrumb-item>
    </eui-breadcrumb>
  </eui-page-breadcrumb>

  <eui-page-content class="eui-u-p-none">
    <eui-page-columns class="eui-u-p-none">
      <!-- Filters column -->
      <eui-page-column
        [hasHeaderBodyShrinkable]="true"
        [isCollapsible]="true"
        [isCollapsed]="isFilterCollapsed"
        (collapsed)="onToggleTOCColumnCollapsed()"
        [label]="'page.workspace.filter.filters' | translate"
        size="4xl"
      >
        <eui-page-column-header-right-content>
          <button
            euiButton
            euiBasicButton
            class="eui-u-font-s mr-4"
            (click)="resetFilter()"
          >
            <span class="eui-u-color-primary-100">
              {{ 'page.workspace.filter.reset' | translate }}
            </span>
          </button>
        </eui-page-column-header-right-content>
        <eui-page-column-body class="eui-u-p-none">
          <app-proposals-filters
            #filters
            class="col-md-3 eui-u-p-none"
          ></app-proposals-filters>
        </eui-page-column-body>
      </eui-page-column>

      <!-- Results column -->
      <eui-page-column>
        <eui-page-column-body class="eui-u-p-none eui-u-width-100">
          <!-- "Create" actions -->
          <div class="eui-u-flex eui-u-flex-justify-content-end app-u-gap-m">
            <button
              euiButton
              euiPrimary
              (click)="createProposalService.openProposalUploadDialog()"
              *ngIf="environmentService.isCouncil()"
            >
              {{ 'page.workspace.upload-cn.button.text' | translate }}
            </button>
            <button
              euiButton
              euiSecondary
              (click)="createProposalService.openProposalUploadDialog()"
              *ngIf="!environmentService.isCouncil() && canUpload"
            >
              {{ 'page.workspace.upload.button.text' | translate }}
            </button>
            <button
              euiButton
              euiPrimary
              (click)="createProposalService.openProposalCreateDialog()"
              *ngIf="!environmentService.isCouncil()"
            >
              {{ 'page.workspace.create-button' | translate }}
            </button>
            <!-- TODO: this is set to false should be adjusted to CN instance  -->
            <button
              euiButton
              euiPrimary
              (click)="
                createProposalService.openProposalCreateDraftDialog(false)
              "
              *ngIf="environmentService.isCouncil()"
            >
              {{ 'page.workspace.create-draft' | translate }}
            </button>
          </div>

          <!-- Results list -->
          <div class="eui-u-ph-m eui-u-pb-2xl eui-u-width-100">
            <div [class.eui-u-display-hidden]="(proposals$ | async) === null">
              <div
                class="eui-u-flex eui-u-flex-justify-content-between eui-u-flex-align-items-center eui-u-pt-l"
              >
                <div class="totalResults">
                  <h4 class="eui-u-font-bold" style="margin: 0px">
                    {{ 'page.workspace.results.title' | translate }}
                  </h4>
                  <div>
                    {{ totalResults$ | async }}
                    {{ 'page.workspace.results.proposals-found' | translate }}
                  </div>
                </div>
                <div class="sort-btn">
                  <button euiButton (click)="toggleSortOrder()">
                    <span euiLabel>{{
                      'page.workspace.results.sort' | translate
                    }}</span>
                    <eui-icon-svg
                      [icon]="sortOrder ? 'eui-arrow-down' : 'eui-arrow-up'"
                    ></eui-icon-svg>
                  </button>
                </div>
              </div>
              <app-proposals-list
                *ngIf="proposals$ | async"
                [proposals]="proposals$ | async"
              ></app-proposals-list>
              <eui-paginator
                #paginatorComponent
                [pageSize]="limit$ | async"
                [length]="totalResults$ | async"
                (pageChange)="handlePagerChange($event)"
              ></eui-paginator>
            </div>
          </div>
        </eui-page-column-body>
      </eui-page-column>
    </eui-page-columns>
  </eui-page-content>
</eui-page>
