<eui-app>
  <eui-app-toolbar>
    <eui-toolbar>
      <eui-toolbar-logo
        *ngIf="!headerLogoImgUrl"
        [homeUrl]="headerLogoUrl"
      ></eui-toolbar-logo>
      <eui-toolbar-app [innerHTML]="headerTitleHtml"></eui-toolbar-app>
      <a [href]="headerLogoUrl" *ngIf="headerLogoImgUrl"
      ><img
        class="eui-toolbar-logo eui-toolbar-logo--custom"
        [alt]="
            'app.header.logo-alt'
              | translate : { title: headerTitleHtml | htmlToPlaintext }
          "
        [src]="headerLogoImgUrl"
      /></a>
      <div class="eui-toolbar-app" [innerHTML]="headerTitleHtml"></div>

      <eui-toolbar-items [euiPositionRight]="false">
        <eui-toolbar-item>
          <a euiButton euiPrimary [href]="headerLogoUrl" [appMoveToLeftSideToolbar]="'eui-toolbar__left'">
            {{ 'app.breadcrumb.home' | translate }}
          </a>
        </eui-toolbar-item>
        <eui-toolbar-item>
          <eui-dropdown [appMoveToLeftSideToolbar]="'eui-toolbar__left'">
            <button euiButton euiPrimary>
            <span euiLabel>{{
                'page.workspace.filter.filters.roles.support' | translate
              }}</span>
              <eui-icon-svg icon="eui-chevron-down"></eui-icon-svg>
            </button>
            <eui-dropdown-content class="eui-b-p-l">
              <li
                euiDropdownItem
                *ngFor="let item of listSupportButtons"
                (click)="onListItemClicked(item)"
              >
                <a *ngIf="item?.id <= 2">{{ item.label | translate }}</a>
                <a style="font-weight: bolder" *ngIf="item?.id > 2">{{
                    item.label | translate
                  }}</a>
              </li>
            </eui-dropdown-content>
          </eui-dropdown>
        </eui-toolbar-item>
        <eui-toolbar-item>
          <eui-user-profile *ngIf="showLoggedUser"></eui-user-profile>
        </eui-toolbar-item>
        <eui-toolbar-item>
          <button
            (click)="toggleNotifications($event)"
            class="eui-icon-button"
            aria-label="Notifications"
          >
            <eui-icon-svg icon="eui-notifications" fillColor="white" size="l">
              <eui-badge
                euiDanger
              >{{ notifications?.length }}
              </eui-badge>
            </eui-icon-svg>
          </button>
        </eui-toolbar-item>
      </eui-toolbar-items>

    </eui-toolbar>
    <app-notification-card-container></app-notification-card-container>
  </eui-app-toolbar>
  <eui-app-footer>
    <eui-footer euiPrimary [className]="'leos-footer-content'">
      <a
        href="https://eceuropaeu.sharepoint.com/teams/GRP-PRO-SG-EU-PMH-IT-training-support/SitePages/Edit.aspx"
        target="_target"
      ><span>Help </span></a>
      |
      <a
        href="https://eceuropaeu.sharepoint.com/teams/GRP-PRO-SG-EU-PMH-IT-training-support/Public librairy/Forms/AllItems.aspx?id=%2Fteams%2FGRP-PRO-SG-EU-PMH-IT-training-support%2FPublic librairy%2FEdiT_Privacy_statement%2Epdf&parent=%2Fteams%2FGRP-PRO-SG-EU-PMH-IT-training-support%2FPublic librairy"
        target="_target"
      ><span> Privacy Statement </span></a>
      | Developed by DIGIT.A3 | Version:
      {{ 'NG_APP_LEOS_VERSION' | env }} | Revision:
      {{ 'NG_APP_LEOS_SOURCE_REVISION' | env }} | Date:
      {{ 'NG_APP_LEOS_VERSION_BUILD_DATE' | env }}
    </eui-footer>
  </eui-app-footer>
</eui-app>
