:host ::ng-deep .eui-toolbar-app > .emphasis {
  color: #13d831;
  font-style: italic;
  font-weight: 700;
}

.eui-toolbar-logo.eui-toolbar-logo--custom {
  background-image: none;
  outline: none;
  width: auto;
}

.eui-button {
  border: none;
  outline: none;
}

.eui-icon-button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.eui-dropdown-content-wrapper {
  padding: 20px;
  height: 96vh;
  width: 50vh;
  top: 16px;
  left: 63px;
}
