/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */
.noUi-connect{
    background:#7ec6e3;
}

.noUi-base {
    z-index: 0;
}

.noUi-value-sub,
.noUi-pips {
    color: inherit;
}

.noUi-value {
  --left-position:15px;
}

.noUi-value.leos-noUi-Milestone {
  font-weight:bold;
  z-index: 1;
}

.noUi-value.leos-noUi-Milestone:after {
    font-family: "Vaadin-Icons";
    content:'\e788';
    font-size: 14px;
    color:#0065A2;
    position:absolute;
    top: -61px;
    left: 0;

}

.noUi-value.leos-noUi-Milestone:hover:before {
  cursor: pointer;
  visibility:visible;
}

.noUi-value.leos-noUi-Milestone:before {
    content:attr(data-tooltip);
    position:absolute;
    top: -65px;
    left:var(--left-position);
    z-index:99999;
    background-color: rgba(51, 51, 51, 0.9);
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 3px 7px;
    font-size: 12px;
    max-width: 500px;
    min-width: 300px;
    white-space: pre-line;
    text-align: left;
    visibility:hidden;
}
