/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 */
.pin-leos-marker-content-removed, .pin-leos-double-compare-removed-original {
    background: #ff9999;
    border-top:1px solid red;
    border-bottom:1px solid red;;
    margin-left:9px;
    width:8px;
}
.pin-leos-marker-content-added, .pin-leos-double-compare-added-original {
    background: #99ff66;
    border-top:1px solid #66cc00;
    border-bottom:1px solid #66cc00;
    width:9px;
}
.pin-leos-double-compare-removed-intermediate {
    background: #800000;
    border-top:1px solid red;
    border-bottom:1px solid red;;
    margin-left:9px;
    width:8px;
}
.pin-leos-double-compare-added-intermediate {
    background: #008040;
    border-top:1px solid #66cc00;
    border-bottom:1px solid #66cc00;
    width:9px;
}
.pin-leos-content-removed{
    background: #ff9999;
    border-top:1px solid red;
    border-bottom:1px solid red;
    margin-left:9px;
    width:8px;
}
.pin-leos-content-new{
    background: #99ff66;
    border-top:1px solid #66cc00;
    border-bottom:1px solid #66cc00;
    width:9px;
}
.pin-popup-side-bar{
    background: #999999;
    height:2px;
}

.pin-leos-marker-content-removed-hidden, .pin-leos-double-compare-removed-original-hidden,
.pin-leos-marker-content-added-hidden, .pin-leos-double-compare-added-original-hidden,
.pin-leos-double-compare-removed-intermediate-hidden, .pin-leos-double-compare-added-intermediate-hidden,
.pin-leos-content-removed-hidden, .pin-leos-content-new-hidden,
.pin-leos-double-compare-removed-hidden, .pin-leos-double-compare-added-hidden {
    visibility: hidden;
}
