.next-change-style {
  width: 69%;
  padding-right: 12%;
  padding-left: 10%;
  margin-left: -50%;
}

.prev-change-style {
  width: 70%;
}

.next-change-style:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.prev-change-style:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
