<button
  [id]="item.id"
  euiButton
  euiResponsive
  [euiIconButton]="!itemLabelValue || itemLabelValue.length === 0"
  [euiDisabled]="isItemDisabled"
  [euiBasicButton]="item.basicButton"
  [euiVariant]="item.euiStyle"
  [euiSizeVariant]="item.euiSize"
  (click)="item.actionFn()"
  [euiTooltip]="item.description"
  class="eui-u-mr-s eui-u-mb-s"
  [ngClass]="{
    'next-change-style': styleMode === StyleMode.NextChangeStyle,
    'prev-change-style': styleMode === StyleMode.PrevChangeStyle
  }"
>
  <eui-icon-svg
    euiIcon
    *ngIf="item.icon"
    [icon]=" item.icon"
    set="outline"
    size="s"
  ></eui-icon-svg>
  <eui-icon-svg
    *ngIf="item.svgIconClas"
    [set]="item.svgType"
    [icon]="item.svgIconClas"
    class="eui-u-mr-xs"
  ></eui-icon-svg>
  <div euiLabel euiSizeS *ngIf="!isOverflow && item.label">
    {{ itemLabelValue | translate }}
  </div>
</button>
