@import 'node_modules/@eui/styles-base/src/styles/base';
@import 'node_modules/@eui/styles/src/styles/02-base/mixins/eui-scrollbars';

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: var(--eui-base-spacing-s);
  height: 95%;
  width: 100%;
}

.search-bar {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: var(--eui-base-spacing-s);
}

.document-wrapper {
  background: #e7e7e7;
  border: 1px solid var(--eui-base-color-grey-10);
  cursor: default;
  flex-grow: 1;
  overflow: auto;
  @include eui-scrollbars();
}

.document-wrapper ::ng-deep {
  bill {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  bill > * {
    margin-left: auto;
    margin-right: auto;
  }

  /*
   * These styles have been copied from
   * modules/ui/src/main/resources/VAADIN/themes/leos/scss/component/_import.scss
   * and they are used inside the importElementExtension.js managed content.
   */
  $DARK_GREY: #808080;
  $SPINDLE_BLUE: #adbdce;
  $PALE_BLUE: #e1effe;
  $HEATHER: #adb4bb;
  $WHITE: #ffffff;

  .leos-import-wrapper {
    border: 1px solid transparent;
    position: relative;

    &:hover {
      border-color: $SPINDLE_BLUE;
    }

    /* Default styling for all leos-wrapped-content elements */
    .leos-wrapped-content {
      border: 1px solid transparent;
      border-left: 5px solid transparent;
      padding: 0 5px;
      background-color: $WHITE;  /* Default background color */
    }

    > input[type='checkbox']:checked ~ .leos-wrapped-content {
      background-color: $PALE_BLUE;
    }

    /* Handle nested leos-import-wrapper elements */
    .leos-import-wrapper {
      > input[type='checkbox']:checked ~ .leos-wrapped-content {
        background-color: $PALE_BLUE;
      }

      .leos-wrapped-content {
        background-color: $WHITE;  /* Default white background for nested element */
      }
    }
  }

  .leos-non-import-wrapper {
    color: $DARK_GREY;
    padding: 0 5px;
  }
}
