@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$LIST_SPACING: 40px;

%padList {
    display: block;
    position: relative;

    & > num {
        @extend %paddedText;
        display: block;
        min-width: $LIST_SPACING;
        float: left;
    }

    & > content {
        & > table {
            @extend %tableMargin;
        }
        & > p {
            @extend %paddedText;
            display: block;
        }
        & > aknP {
            @extend %paddedText;
            display: block;
            padding-left: $LIST_SPACING;
        }
    }
}

//--------------------------------XML list------------------------------------/
%xmlList {
    point, indent {
        @extend %padList;
    }
    list {
        point,
        indent {
            padding-left: $LIST_SPACING;
            @extend %padList;
        }
    }
    paragraph > list:not(:nth-child(1)):not(:nth-child(2)) > subparagraph:not([leos\:action-enter="insert"]) {
        padding-left: $LIST_SPACING;
    }
    paragraph > list > subparagraph:not(:nth-child(1)) {
        padding-left: $LIST_SPACING;
    }
}

//--------------------------------Editor list---------------------------------/
%editorList {
    ol[data-akn-name=aknOrderedList] > li[data-akn-element=subparagraph]:first-child,
    ol[data-akn-name=aknAnnexOrderedList] > li[data-akn-element=subparagraph]:first-child {
        margin-top: -7px;
    }

    ol[data-origin=ec],
    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknNumberedParagraphMandate],
    ol[data-akn-name=aknSubParagraphMandate],
    li > ol,
    li > ul {
        list-style-type: none;
        margin: 0;        // override default list margin

        & > li {
            @extend %paddedText;
        }

        & > li[data-akn-num] {
            position: relative;

            &:not([data-akn-action-enter='delete']):before {
                color: $GREY_COLOR;
                content: attr(data-akn-num);
                min-width: $LIST_SPACING;
                float: left;
            }

            &[data-akn-attr-softmove_label]:not([data-akn-action-enter='delete']):before {
                content: attr(data-akn-num) ' ' attr(data-akn-attr-softmove_label);
                margin-right: 10px;
                background-color: #808080 !important;
                padding: 2px 5px;
                height: 18px;
                font-size: 15px;
                font-style: normal;
                line-height: 1;
                border-radius: 4px;
                display: inline-block;
                text-decoration: none !important;
                color: #FFFFFF !important;
            }

        }

        & > li[data-akn-num-id*="deleted"] {
            &:before {
                text-decoration: line-through;
                content: attr(data-akn-num);
            }
        }

        & > li.selectedMovedElement {
            @extend %moveSubElement;
        }
    }

    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknNumberedParagraphMandate],
    paragraph > ol[data-akn-name=aknSubParagraphMandate],
    point > ol[data-akn-name=aknSubParagraphMandate],
    indent > ol[data-akn-name=aknSubParagraphMandate],
    li > ol,
    li > ul {
        padding-left: 0;  // override default list padding
    }

    li[data-akn-name=aknNumberedParagraph] > ol[data-akn-name=aknOrderedList],
    ol[data-akn-name=aknPointMandateOrderedList],
    ol[data-akn-name=aknPointMandateOrderedList] > li,
    li > ol > li[data-akn-num] {
        padding-left: $LIST_SPACING;
    }

    li[data-akn-name=aknNumberedParagraph]:not([data-akn-num]) > ol[data-akn-name=aknOrderedList] > li[data-akn-element=subparagraph] {
        margin-left: -$LIST_SPACING;
    }

    ol[data-akn-name=aknAnnexOrderedList] {
        padding-bottom: 7px;
    }

    ol[data-akn-name=aknPointMandateOrderedList],
    li > ol{
        & > li[data-akn-num] {
           &:before {
               margin-left: -$LIST_SPACING;
           }
       }
    }
}

//--------------------------------Showblock list------------------------------/
%showblockList {
    ol[data-akn-name=aknPointMandateOrderedList],
    li > ol {
        & li {
            @include blockOutline("POINT", $LIST_SPACING);
        }
    }

    li > ol {
        & li[data-akn-num="-"] {
            @include blockOutline("INDENT", $LIST_SPACING);
        }
    }
}