@charset "UTF-8";
/**
 * Copyright 2024 European Union
 *
 * Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *     https://joinup.ec.europa.eu/software/page/eupl
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions and limitations under the Licence.
*/

$RECITAL_SPACING: 32px;

//------------------------------- XML Styles --------------------------------//
%xmlRecital {
    recital {
        display:block;
        & > num {
            @extend %paddedText;
            min-width: $RECITAL_SPACING;
            float: left;
            padding-right: 10px;
        }

        // If num tag does NOT exist, adjust margin-left for aknP or p
        & > aknP:first-child,
        & > p:first-child {
            margin-left: 0px;
        }


        & > aknP, & > p {
            @extend %paddedText;
            display: block;
            margin-left: $RECITAL_SPACING;   
        }
    }    
}

%tocRecital {
    recital {
        & > num {
            @extend %clearTopText;
        }
        & > aknP, & > p {
            @extend %clearTopText;
        }
    }
    //in toc recital tag is missing so we scope: .leos-toc-content .toc-content-area > div > p
    & > div > num {
        @extend %clearTopText;
    }
    & > div > aknP, & > div > p {
        @extend %clearTopText;
    }
}

//------------------------------- Editor Styles -----------------------------//
%editorRecital {
    p[data-akn-name="recital"] { 
        @extend %paddedText;
        padding-left: $RECITAL_SPACING;

        // If the data-akn-num attribute is either missing or empty, set padding-left to 0px
        &:not([data-akn-num]),         // If attribute is missing
        &[data-akn-num=""] {           // If attribute is empty
            padding-left: 0px;
        }


        &:before {
            color: $GREY_COLOR;
            content: attr(data-akn-num);
            min-width: $RECITAL_SPACING;
            margin-left: -$RECITAL_SPACING;
            float: left;
        }
    }
}

//------------------------------- Showblock Styles --------------------------//
%showblockRecital {
    div[data-akn-name=recitals] {
        p[data-akn-name="recital"] {
            @include blockOutline("RECITAL", $RECITAL_SPACING);
        }
    }
}
