.section-container {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding-left: var(--eui-base-spacing-xs);
  padding-right: var(--eui-base-spacing-xs);
  position: relative; /* Ensure relative positioning for the pseudo-element */
  width: 100%;
  border-radius: var(--eui-base-border-radius);

  .section-close-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .compare-button-group {
    width: 34% !important;
  }

  .merge-button-group {
    width: 24% !important;
    gap: 0px !important;
  }

  .compare-button-group-mandate {
    width: 24% !important;
  }

  &::after {
    background-color: var(--eui-base-color-primary-140);
    bottom: 8%; /* Adjust the bottom margin/padding/distance */
    content: '';
    position: absolute;
    right: 0;
    top: 8%; /* Adjust the top margin/padding/distance */
    width: 0.5px;
  }

  .section-content {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }
}

.compare-section-id {
  gap: 0% !important;
  padding: 0% !important;
  margin: 0% !important;
  justify-content: space-between !important;
}

.max-width-400 {
  width: 380px;
}

@mixin overlay-style($bg-color, $border-color) {
  margin: var(--eui-base-spacing-2xs);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: $bg-color;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px; // Adjust the width of the border
    height: 100%;
    background-color: $border-color;
  }
}

.overlay-versions-compare {
  @include overlay-style(
    rgba(172, 194, 230, 0.2),
    rgb(82, 120, 168)
  ); // Light green color with adjusted opacity
}

.overlay-view-version {
  @include overlay-style(
    rgba(172, 194, 230, 0.2),
    rgb(82, 120, 168)
  ); // Light green color with adjusted opacity
}

.overlay-merge-contribution {
  @include overlay-style(
    rgba(132, 117, 117, 0.2),
    rgb(132, 117, 117)
  ); // Very faint red color with adjusted opacity
}

.overlay-leos-light {
  @include overlay-style(
    rgba(172, 194, 230, 0.2),
    rgb(82, 120, 168)
  ); // Very faint blue color with adjusted opacity
}
